body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:1001px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:41px;
}
#u2 {
  position:absolute;
  left:2px;
  top:13px;
  width:997px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:955px;
  top:22px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:10px;
  top:51px;
  width:1001px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:31px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:997px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:840px;
  top:22px;
  width:78px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:496px;
  top:51px;
  width:515px;
  height:30px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:521px;
  height:36px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:35px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u11_ann {
  position:absolute;
  left:60px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u13_ann {
  position:absolute;
  left:134px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u15_ann {
  position:absolute;
  left:208px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u17_ann {
  position:absolute;
  left:282px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:356px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:370px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u21_ann {
  position:absolute;
  left:430px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:444px;
  top:0px;
  width:71px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  word-wrap:break-word;
}
#u23_ann {
  position:absolute;
  left:501px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u25_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:74px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u37_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:370px;
  top:30px;
  width:100px;
  height:80px;
  visibility:hidden;
}
#u49_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:86px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:85px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:222px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u59_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:87px;
  top:162px;
  width:821px;
  height:404px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:404px;
}
#u72 {
  position:absolute;
  left:2px;
  top:194px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_ann {
  position:absolute;
  left:901px;
  top:158px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:84px;
  top:100px;
  width:59px;
  height:18px;
  font-size:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:78px;
  top:120px;
  width:839px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:822px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:839px;
  height:1px;
}
#u76 {
  position:absolute;
  left:100px;
  top:140px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:84px;
  top:589px;
  width:104px;
  height:18px;
  font-size:14px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:78px;
  top:574px;
  width:839px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:822px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:839px;
  height:1px;
}
#u81 {
  position:absolute;
  left:92px;
  top:624px;
  width:60px;
  height:60px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u82 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:177px;
  top:626px;
  width:58px;
  height:58px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u84 {
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:262px;
  top:628px;
  width:56px;
  height:56px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u86 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:347px;
  top:630px;
  width:54px;
  height:54px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u88 {
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:432px;
  top:632px;
  width:52px;
  height:52px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u90 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:516px;
  top:634px;
  width:50px;
  height:50px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u92 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:601px;
  top:636px;
  width:48px;
  height:48px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u94 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:686px;
  top:638px;
  width:46px;
  height:46px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:42px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:771px;
  top:640px;
  width:44px;
  height:44px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:856px;
  top:642px;
  width:42px;
  height:42px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:84px;
  top:717px;
  width:104px;
  height:18px;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:78px;
  top:701px;
  width:839px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:822px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:839px;
  height:1px;
}
#u104 {
  position:absolute;
  left:92px;
  top:746px;
  width:60px;
  height:60px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:177px;
  top:748px;
  width:58px;
  height:58px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u107 {
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:262px;
  top:750px;
  width:56px;
  height:56px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u109 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:347px;
  top:752px;
  width:54px;
  height:54px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u111 {
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:432px;
  top:754px;
  width:52px;
  height:52px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u113 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:516px;
  top:756px;
  width:50px;
  height:50px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u115 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:601px;
  top:758px;
  width:48px;
  height:48px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u117 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:686px;
  top:760px;
  width:46px;
  height:46px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u119 {
  position:absolute;
  left:2px;
  top:16px;
  width:42px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:771px;
  top:762px;
  width:44px;
  height:44px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u121 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:856px;
  top:764px;
  width:42px;
  height:42px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u123 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:10px;
  top:820px;
  width:1001px;
  height:52px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:52px;
}
#u126 {
  position:absolute;
  left:2px;
  top:18px;
  width:997px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:766px;
  top:589px;
  width:116px;
  height:18px;
  font-size:14px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:766px;
  top:717px;
  width:116px;
  height:18px;
  font-size:14px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
