body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:1001px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:41px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:997px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:955px;
  top:22px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:10px;
  top:51px;
  width:1001px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:31px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:997px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:840px;
  top:22px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:496px;
  top:51px;
  width:515px;
  height:30px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:521px;
  height:36px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:35px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u11_ann {
  position:absolute;
  left:60px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u13_ann {
  position:absolute;
  left:134px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u15_ann {
  position:absolute;
  left:208px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u17_ann {
  position:absolute;
  left:282px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:356px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:370px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u21_ann {
  position:absolute;
  left:430px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:444px;
  top:0px;
  width:71px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u23_ann {
  position:absolute;
  left:501px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u25_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:74px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u37_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:370px;
  top:30px;
  width:100px;
  height:80px;
  visibility:hidden;
}
#u49_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:86px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:85px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:222px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u59_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:106px;
  top:143px;
  width:804px;
  height:379px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:379px;
}
#u72 {
  position:absolute;
  left:2px;
  top:182px;
  width:800px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:141px;
  top:162px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:275px;
  top:162px;
  width:549px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76 {
  position:absolute;
  left:141px;
  top:202px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:275px;
  top:202px;
  width:549px;
  height:100px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:141px;
  top:322px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:275px;
  top:322px;
  width:549px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82 {
  position:absolute;
  left:834px;
  top:322px;
  width:42px;
  height:25px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u83 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:141px;
  top:371px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:275px;
  top:371px;
  width:549px;
  height:100px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87 {
  position:absolute;
  left:834px;
  top:371px;
  width:42px;
  height:25px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u88 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:141px;
  top:492px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:275px;
  top:492px;
  width:200px;
  height:22px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u91_input:disabled {
  color:grayText;
}
#u92 {
  position:absolute;
  left:130px;
  top:188px;
  width:754px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:737px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:754px;
  height:1px;
}
#u93 {
  position:absolute;
  left:130px;
  top:307px;
  width:754px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:737px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:754px;
  height:1px;
}
#u94 {
  position:absolute;
  left:130px;
  top:357px;
  width:754px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:737px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:754px;
  height:1px;
}
#u95 {
  position:absolute;
  left:130px;
  top:477px;
  width:754px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:737px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:754px;
  height:1px;
}
#u96 {
  position:absolute;
  left:106px;
  top:123px;
  width:804px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:787px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:804px;
  height:1px;
}
#u97 {
  position:absolute;
  left:110px;
  top:104px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:338px;
  top:610px;
  width:88px;
  height:30px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:466px;
  top:610px;
  width:88px;
  height:30px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:590px;
  top:610px;
  width:88px;
  height:30px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:10px;
  top:658px;
  width:1001px;
  height:52px;
  color:#FFFFFF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:52px;
}
#u107 {
  position:absolute;
  left:2px;
  top:18px;
  width:997px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:107px;
  top:532px;
  width:318px;
  height:16px;
  color:#FF0000;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:107px;
  top:570px;
  width:105px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:666px;
  top:570px;
  width:243px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:105px;
  top:553px;
  width:804px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:787px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:804px;
  height:1px;
}
#u115 {
  position:absolute;
  left:105px;
  top:590px;
  width:804px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:787px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:804px;
  height:1px;
}
