<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">
	ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:220px;height:250px;overflow-y:scroll;overflow-x:scroll;}
</style>
<%};%>
<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	//加载业务datagrid
	var find = false;
	var busId = $("#busId").val().split(',');
	var url = "";
	var businessId = "";
	//判断当前是创建还是编辑 选用不同的方法查询后台
	if($("#realBusinessIds").val()!="" && $("#realBusinessIds").val()!=null){
		url = '/admin/business/getBusByBusId.do';
		businessId = $("#realBusinessIds").val();
	}else{
		url = '/admin/business/bizList.do'
		
	}
	$('#bizlink').combogrid({    
	    panelWidth:540,    
	    idField:'id', 
	    textField:'name',
	    multiple: true,
	    url:url,
	    queryParams : { busId : businessId }, 
	    pagination:true,
	    columns:[[    
			{field:'ck',checkbox:true},
	        {field:'code',title:'业务编码',width:150},    
	        {field:'name',title:'业务名称',width:150},    
	        {field:'status',title:'状态',width:200,
	        	formatter:function(value,row,index){
	        		if(value){
	        			var ds=value.replace(3,"未注册").replace(4,"注册中").replace(5,"已注册").replace(6,"注销中").replace(7,"已注销");
		        		return ds;
	        		}else{
	        			return "--";
	        		}
            	}
	        }    
	    ]],
	    onSelect: function (index, row) {
	    	$(".validatebox-text").val("");
	    	var ids = $("#realBusinessIds").val();
	    	ids = uniQueue(ids+row.id);  //去掉重复的值
	    	$("#realBusinessIds").val(ids+",");
	    	//将业务显示框内填充值
	    	var busNa = $("#businessView").val();
	    	busNa = uniQueue(busNa+row.name);  //去掉重复的值
	    	$("#businessView").val(busNa+",");
		},
        onUnselect: function (index, row) {
        	$(".validatebox-text").val("");
	    	var ids = $("#realBusinessIds").val();
	    	var busNa = $("#businessView").val();
	    	var idgroup = ids.split(',');
	    	for(var i=0;i<idgroup.length;i++){
	    		if(idgroup[i] == row.id){
	    			idgroup.splice(i,1);
	    		}
	    	}
	    	var id = row.id;
	    	//idgroup.pop();
	    	$("#realBusinessIds").val(idgroup);
	    	//将取消的业务在显示框中进行删除
	    	var busNa = $("#businessView").val();
	    	var nagroup = busNa.split(',');
	    	for(var i=0;i<nagroup.length;i++){
	    		if(nagroup[i] == row.name){
	    			nagroup.splice(i,1);
	    		}
	    	}
	    	var name = row.name;
	    	$("#businessView").val(nagroup);
        },
	     onLoadSuccess: function(data) {//alert(data.rows); // 当前请求的页面数据。
	    	/* if(find != true){
	    		var rowss = data.rows;
		    	//$.each(data.rows, function(index, value) {
		    		for(var index=0;index<rowss.length;index++){
			    		for(var i in busId){
			    			 // alert(busId[i]+" "+value.id)
			    			if (busId[i] == rowss[index].id){
			    				//alert(busId[i]);
			 	            	   //$('#bizlink').combogrid('setValue',5);
			 	            	   $('#bizlink').combogrid('grid').datagrid('selectRecord',busId[i]);
			 		               
			 	              
			    			}
			    		}
			    		
		    		}
		    		 find = true;
		       // }); 
		    		// $('#bizlink').combogrid('grid').datagrid('selectRecord',2487);
		    		 //$('#bizlink').combogrid('setValue',2487)
	    	} */
	    	 var rowss = $("#bizlink").combogrid("grid").datagrid("getRows");
		    	var busId =  $("#realBusinessIds").val();
		    	var idgroup = busId.split(',');
		    	for(var i=0;i<idgroup.length;i++){
		    		for(var j=0;j<rowss.length;j++){
		    			$(".validatebox-text").val("");
		    			if(idgroup[i] == rowss[j].id){
			    			$('#bizlink').combogrid('grid').datagrid('selectRecord',rowss[j].id);
			    		}else{
			    			$(".validatebox-text").val("");
			    		}
		    		}
		    	}
		    	//分页去掉
		    	if (data.total == 0) {
	                $(".pagination").hide();
	            }
	    }, 
	    onShowPanel: function(){
	    	/* var rowss = $("#bizlink").combogrid("grid").datagrid("getRows");
	    	var busId =  $("#realBusinessIds").val();
	    	var idgroup = busId.split(',');
	    	for(var i=0;i<idgroup.length;i++){
	    		for(var j=0;j<rowss.length;j++){
	    			if(idgroup[i] == rowss[j].id){
		    			$('#bizlink').combogrid('grid').datagrid('selectRecord',rowss[j].id);
		    		}
	    		}
	    	} */
	    },
	    keyHandler: {  
            up: function() {},  
            down: function() {},  
            enter: function() {},  
            query: function(q) {  
                //动态搜索  
                $('#bizlink').combogrid("grid").datagrid("reload", { 'name': q });  
                $('#bizlink').combogrid("setValue", q);  
            }  
        }  
	}); 
	
	$(".validatebox-text").on('focus',function(){
		$(".validatebox-text").val("");
	})
	
	jq1_4(document).ready(function(){
		$.post('../office/tree',function(obj){
			// init tree
			jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting,obj);selectedTreeNode();
		},'json');
		// bind focus
		$('#officeSel').on('focus',showMenu);
		
	});
	var setting = {
			keep: {parent: true},
			view : {selectedMulti : false,dblClickExpand: false},
			data : {simpleData : {enable : true}},
			edit : {enable : false},
			callback : {
				onClick : onClick
			}
		};
	function onClick(e, treeId, treeNode) {
		var zTree = jq1_4.fn.zTree.getZTreeObj("officeTree"),
		nodes = zTree.getSelectedNodes();
		$("#officeSel").attr("value", nodes[0].name);
		$("#officeId").attr("value", nodes[0].id);
		$("#menuContent").fadeOut("fast");
	}
	function showMenu() {
		var cityObj = $("#officeSel");
		var cityOffset = $("#officeSel").offset();
		$("#menuContent").css({left:(cityOffset.left-20) + "px", top:(cityOffset.top-130) + cityObj.outerHeight() + "px"}).slideDown("fast");
		$("body").bind("mousedown", onBodyDown);
	}
	function hideMenu() {
		$("#menuContent").fadeOut("fast");
		$("body").unbind("mousedown", onBodyDown);
	}
	function onBodyDown(event) {
		if (!(event.target.id == "officeSel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
			hideMenu();
		}
	}
	
	function submitForm(status){
		var id = $("#id").val();
		var jobName = $("#jobName").val();
		if(jobName ==""){
			alert("岗位名称不能为空");
			return false;
		}
		var success =false;
		$.ajax({  
	        url : '../job/checkjobName',  
	        async : false, // 注意此处需要同步  
	        type : "POST",
	        data :{name:jobName,id:id},
	        dataType : "text",  
	        success : function(data) {
	        	if(data == "ishave"){
					success = true;
					
				}
	        }  
	    });  
		if(success){
			alert("系统中已存在该岗位名称，请更换其他名称");
			return false;
		}
		if($("#officeSel").val() ==""){
			alert("所属单位不能为空");
			return false;
		}
		 if($("[name='businessId']").length == 0){
			alert("相关业务不能为空");
			return false;
		} 
		$("#status").val(status);
		$("#form").submit();
	}
	//模拟点击树的节点达到显示节点名称在input上
	function selectedTreeNode(){
		var id = $("#officeId_text").val();
		var zTree = jq1_4.fn.zTree.getZTreeObj("officeTree");//获取ztree对象  
        var node = zTree.getNodeByParam('id', id);//获取id的点  
        zTree.selectNode(node);//选择点  
        zTree.setting.callback.onClick(null, zTree.setting.treeId, node);//调用事件  
	}
	//去除重复值
	function uniQueue(array){
		arr = array.split(",");
		var new_arr=[];
		/* var arr=[]; 
		var m; 
		while(array.length>0){ 
			m=array[0]; 
			arr.push(m); 
			array=$.grep(array,function(n,i){ 
				return n==m; 
			},true); 
		} 
		return arr;  */
		for(var i=0;i<arr.length;i++) {
			　　var items=arr[i];
			　　//判断元素是否存在于new_arr中，如果不存在则插入到new_arr的最后
			　　if($.inArray(items,new_arr)==-1) {
			　　　　new_arr.push(items);
			　　}
			}
		return new_arr;
	}
	
	function cancle(){
		location.href='/admin/job/maintenance.do';
	}
</script>
<%};%>
<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
   	<h2 class="compile-title mt40">岗位信息${actionType=="update"?"编辑":actionType=="view"?"查看":"创建"}</h2>
   	<span class="imaginary-line"></span>
   	<div class="compile-form">
   <%if(job.id==null){%>
   	<form id="form" action="/admin/job/create" method="post">
   <% }else{ %>
   		<form id="form" action="/admin/job/doedit" method="post">
   	<%}%>
   			<input type="hidden" id="status" name="status" value="${job.id==''?'':job.status}"/>
   			<input type="hidden" id="busId" name="busId" value="${job.id==''?'':busId}"/>
   			<input type="hidden" id="officeId_text" name="officeId_text" value="${job.id==''?'':job.officeId}"/>
   			<input type="hidden" id="id" name="id" value="${job.id==''?'':job.id}"/>
   			<input type="hidden" id="realBusinessIds" name="realBusinessIds" value="${job.id==''?'':busId}"/>
   			<input type="hidden" id="busNa" name="busNa" value="${job.id==''?'':busNa}"/>
			<div class="c-formbox">
		        <label class="compile-form-title fl">岗位名称/职位</label>
				<input class="form-control inp fl c-f-width540" type="text"  placeholder="" id="jobName" name="name" maxlength="30" value="${job.id==''?'':job.name}" ${job==null?'':actionType == 'view'?disabled="disabled":""}>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">岗位职责</label>
				<textarea class="form-control fl c-f-width540" rows="3" name="duty" maxlength="200" ${job==null?'':actionType == 'view'?disabled="disabled":""}>${job==null?'':job.id==''?'':job.duty}</textarea>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
		        <label class="compile-form-title fl">岗位所属单位</label>
		        <input class="form-control inp fl c-f-width540" type="text"  id="officeSel"  onkeydown="return false;" unselectable='true'  onfocus="this.blur();" ${job==null?'':actionType == 'view'?disabled="disabled":""}/>
		        <input type="hidden" id="officeId" name="officeId"/>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
		        <label class="compile-form-title fl" style="margin-top: 15px;">相关业务</label>
		        <input class="form-control inp fl c-f-width540" type="text"  id="businessView"  value="${job.id==''?'':busNa}" onkeydown="return false;" onmousedown="return false" onkeyup="return false;" ${job==null?'':actionType == 'view'?disabled="disabled":""}/>
		        
			</div>
			
			<div class="c-formbox">
				<label class="compile-form-title fl">&nbsp;</label>
				<input class="form-control inp fl c-f-width540" type="text" name="businessId" placeholder="" id="bizlink" value="" ${job==null?'':actionType == 'view'?disabled="disabled":""}>
		        <!-- 
				<textarea class="form-control fl c-f-width450" rows="3"></textarea>
				<span class="btn-select fr">选择</span> -->
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">岗位属性</label>
				<select class="form-control c-f-width540" name="type" ${job==null?'':actionType == 'view'?disabled="disabled":""}>
				  <option value="" >--请选择--</option>
				  <option value="1" ${job==null?'':job.type == '1'?selected="selected":selected=""}>公务员编制</option>
				  <option value="2" ${job==null?'':job.type == '2'?selected="selected":selected=""}>事业编制</option>
				  <option value="3" ${job==null?'':job.type == '3'?selected="selected":selected=""}>参公编制</option>
				  <option value="4" ${job==null?'':job.type == '4'?selected="selected":selected=""}>工勤编制</option>
				  <option value="5" ${job==null?'':job.type == '5'?selected="selected":selected=""}>其他</option>
				</select>
			</div>
				<span class="warning-box fr">*机构职能介绍为公开信息，任何人均有权限进行查看！</span>
			<div class="mb20 clearfix"></div>
			<%if(job.id!=null){%>
		   		<div class="last-modified-time fr">
		   			<span>当前状态：${job==null?'':job.status == '3'?"未注册":""}${job==null?'':job.status == '4'?"注册中":""}${job==null?'':job.status == '5'?"已注册":""}${job==null?'':job.status == '6'?"注销中":""}${job==null?'':job.status == '7'?"已注销":""}</span>
		   			
		   			<%if(job.updateDate!=null){%>
		   				<span>最后操作时间：${job.updateDate,dateFormat="yyyy-MM-dd HH:mm:ss"}</span>
		   			<% }else{ %>
		   			<span>创建时间：${job.createDate,dateFormat="yyyy-MM-dd HH:mm:ss"}</span>
		   			<%}%>
		   		</div>
		   	<%}%>
	   		<div class="mb20 clearfix"></div>
	   		<div class="btn-box fr mb20">
	   			<!-- <button class="btns  fl mr20" type="button" onclick="submitForm(1)">申请注册</button> -->
	   			<%if(actionType =='create' || actionType == 'update'){%>
	   				 <button class="btns-gray fl mr20" type="button" onclick="submitForm(3)">保存</button>
	   				 <button class="btns-gray fl" type="button" onclick="cancle()">取消</button>
	   			 <% }else{ %>
	   				 <button class="btns-gray fl" type="button" onclick="cancle()">返回</button>
	   			<%}%>
	   		</div>
   		</form>
   	</div>
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
	<ul id="officeTree" class="ztree " style="margin-top:0; width:540px;"></ul>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%> 