<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">
	ul.ztree {margin-top: 10px;border: 1px solid #617775;background: #f0f6e4;width:220px;height:250px;overflow-y:scroll;overflow-x:scroll;}
</style>
<%};%>
<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript">
 	var jq1_11 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	//加载业务datagrid
	var find = false;
	jq1_11('#bizlink').combogrid({    
	    panelWidth:540,    
	    idField:'id',    
	    multiple: true,
	    url:'/admin/business/bizList.do',    
	    pagination:true,
	   /*  toolbar:[{
			text:'提交',
			handler:function(){
				var vals = $('#bizlink').combogrid('getValues');
				var subId=$('#subId').html();
				sendLinkReq("/admin/business/batchUpdateBiz.do",subId,vals);
			}
		}], */
	    columns:[[    
			{field:'ck',checkbox:true},
	        {field:'code',title:'业务编码',width:150},    
	        {field:'name',title:'业务名称',width:150},    
	        {field:'subjectId',title:'状态',width:200//,
	        	/* formatter: function(value,row,index){
					if(value){
						return "已关联";
					}else{
						return "";
					}
				} */
		    }    
	    ]],
	    onLoadSuccess: function(data) { // 当前请求的页面数据。
	        /* alert(45);
	    	$.each(data.rows, function(index, value) {//alert(value.id);
	            if ("5" == value.id) { // value.id与idField属性对应的值
	               // find = true;// 循环当前请求页面数据，如果取出的值与默认值一致，则设置成找到
	                $('#bizlink').combogrid('grid').datagrid('selectRecord',value.id);
	               // $('#bizlink').combogrid('setValue',11);
	            } 
	        
	        }); */
	         /* if (!find) {
	            // combogrid获取下一页页码
	            var nextPage = $('#bizlink').combogrid('grid').datagrid('options').pageNumber + 1;
	            $('#bizlink').combogrid('grid').datagrid('getPager').pagination("select", nextPage);
	         } */
	    }
	}); 
	
	jq1_4(document).ready(function(){
		$.post('../office/tree',function(obj){
			// init tree
			jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting,obj);selectedTreeNode();
		},'json');
		// bind focus
		$('#officeSel').on('focus',showMenu);
		
	});
	var setting = {
			keep: {parent: true},
			view : {selectedMulti : false,dblClickExpand: false},
			data : {simpleData : {enable : true}},
			edit : {enable : false},
			callback : {
				onClick : onClick
			}
		};
	function onClick(e, treeId, treeNode) {
		var zTree = jq1_4.fn.zTree.getZTreeObj("officeTree"),
		nodes = zTree.getSelectedNodes();
		$("#officeSel").attr("value", nodes[0].name);
		$("#officeId").attr("value", nodes[0].id);
		$("#menuContent").fadeOut("fast");
	}
	function showMenu() {
		var cityObj = $("#officeSel");
		var cityOffset = $("#officeSel").offset();
		$("#menuContent").css({left:cityOffset.left + "px", top:(cityOffset.top-110) + cityObj.outerHeight() + "px"}).slideDown("fast");
		$("body").bind("mousedown", onBodyDown);
	}
	function hideMenu() {
		$("#menuContent").fadeOut("fast");
		$("body").unbind("mousedown", onBodyDown);
	}
	function onBodyDown(event) {
		if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
			hideMenu();
		}
	}
	
	function submitForm(status){
		$("#status").val(status);
		$("#form").submit();
	}
	//模拟点击树的节点达到显示节点名称在input上
	function selectedTreeNode(){
		var id = $("#officeId_text").val();
		var zTree = jq1_4.fn.zTree.getZTreeObj("officeTree");//获取ztree对象  
        var node = zTree.getNodeByParam('id', id);//获取id的点  
        zTree.selectNode(node);//选择点  
        zTree.setting.callback.onClick(null, zTree.setting.treeId, node);//调用事件  
	}
</script>
<%};%>
<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
   	<h2 class="compile-title mt40">岗位信息维护</h2>
   	<span class="imaginary-line"></span>
   	<div class="compile-form">
   <%if(job.id==null){%>
   	<form id="form" action="/admin/job/create" method="post">
   <% }else{ %>
   		<form id="form" action="/admin/job/doedit" method="post">
   	<%}%>
   			<input type="hidden" id="status" name="status" value=""/>
   			<input type="hidden" id="officeId_text" name="officeId_text" value="${job.id==''?'':job.officeId}"/>
   			<input type="hidden" name="id" value="${job.id==''?'':job.id}"/>
			<div class="c-formbox">
		        <label class="compile-form-title fl">岗位名称/职位</label>
				<input class="form-control inp fl c-f-width540" type="text"  placeholder="" name="name" value="${job.id==''?'':job.name}">
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">岗位职责</label>
				<textarea class="form-control fl c-f-width540" rows="3" name="duty">${job==null?'':job.id==''?'':job.duty}</textarea>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
		        <label class="compile-form-title fl">岗位所属单位</label>
		        <input class="form-control inp fl c-f-width540" type="text"  id="officeSel" />
		        <input type="hidden" id="officeId" name="officeId"/>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">相关业务</label>
				<input class="form-control inp fl c-f-width540" type="text" name="businessId" placeholder="" id="bizlink" value="">
				</select>
		        
		        <!-- 
				<textarea class="form-control fl c-f-width450" rows="3"></textarea>
				<span class="btn-select fr">选择</span> -->
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">岗位属性</label>
				<select class="form-control c-f-width540" name="type" >
				  <option value="" >--请选择--</option>
				  <option value="1" ${job==null?'':job.type == '1'?selected="selected":selected=""}>公务员编制</option>
				  <option value="2" ${job==null?'':job.type == '2'?selected="selected":selected=""}>事业编制</option>
				  <option value="3" ${job==null?'':job.type == '3'?selected="selected":selected=""}>参公编制</option>
				  <option value="4" ${job==null?'':job.type == '4'?selected="selected":selected=""}>工勤编制</option>
				  <option value="5" ${job==null?'':job.type == '5'?selected="selected":selected=""}>其他</option>
				</select>
			</div>
				<span class="warning-box fr">*机构职能介绍为公开信息，任何人均有权限进行查看！</span>
			<div class="mb20 clearfix"></div>
			<%if(job.id!=null){%>
		   		<div class="last-modified-time fr">
		   			<span>当前状态：${job==null?'':job.status == '0'?"未注册":""}${job==null?'':job.status == '1'?"注册中":""}${job==null?'':job.status == '2'?"已注册":""}${job==null?'':job.status == '3'?"未通过":""}${job==null?'':job.status == '4'?"注销中":""}${job==null?'':job.status == '5'?"已注销":""}</span>
		   			<%if(job.updateDate!=null){%>
		   				<span>最后操作时间：${job.updateDate,dateFormat="yyyy-MM-dd HH:mm:ss"}</span>
		   			<%}%>
		   		</div>
		   	<%}%>
	   		<div class="mb20 clearfix"></div>
	   		<div class="btn-box fr mb20">
	   			<!-- <button class="btns  fl mr20" type="button" onclick="submitForm(1)">申请注册</button> -->
	   			<%if(actionType =='create' || actionType == 'update'){%>
	   				 <button class="btns-gray fl mr20" type="button" onclick="submitForm(0)">保存</button>
	   				 <button class="btns-gray fl"  onclick="history.go(-1)">取消</button>
	   			 <% }else{ %>
	   				 <button class="btns-gray fl"  onclick="history.go(-1)">返回</button>
	   			<%}%>
	   		</div>
   		</form>
   	</div>
</div>
<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
	<ul id="officeTree" class="ztree " style="margin-top:0; width:540px;"></ul>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>