<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">

<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript">


</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
   	<h2 class="compile-title mt40">岗位信息维护</h2>
   	<span class="imaginary-line"></span>
   	<div class="compile-form">
		<div class="c-formbox">
	        <label class="compile-form-title fl">部署节点</label>
			<input class="form-control inp fl c-f-width540" type="text" placeholder="">
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title fl">部署节点</label>
			<textarea class="form-control fl c-f-width540" rows="3"></textarea>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
	        <label class="compile-form-title fl">部署节点</label>
			<input class="form-control inp fl c-f-width450" type="text" placeholder="">
			<span class="btn-select fr">选择</span>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title fl">部署节点</label>
			<textarea class="form-control fl c-f-width450" rows="3"></textarea>
			<span class="btn-select fr">选择</span>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title fl">部署节点</label>
			<select class="form-control c-f-width540">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
		<span class="warning-box fr">*机构职能介绍为公开信息，任何人均有权限进行查看！</span>
		<div class="mb20 clearfix"></div>
   		<div class="last-modified-time fr">
   			<span>当前状态：已注册</span>
   			<span>最后操作时间：2015年12月2日 12:00:00</span>
   		</div>
   		<div class="mb20 clearfix"></div>
   		<div class="btn-box fr mb20">
   			<button class="btns  fl mr20">申请注册</button>
   			<button class="btns-gray fl mr20">保存</button>
   			<button class="btns-gray fl">取消</button>
   		</div>
   	</div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>