<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>

<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		$.post('../office/officeTree',function(obj){
			// init tree
			jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting,obj);
		},'json');
		// search nodes
		$('#searchNodes').bind("propertychange", searchNode).bind("input", searchNode);
	});
	var setting = {
		keep: {parent: true},
		view : {
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		function getChildren(ids,treeNode){
			ids.push(treeNode.id);
			 if (treeNode.isParent){
					for(var obj in treeNode.children){
						getChildren(ids,treeNode.children[obj]);
					}
			    }
			 return ids;
		}
		var ids=[];
		ids=getChildren(ids,treeNode);
		$.ajax({
			type : 'post',
			async : false,
			url : '../office/office',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$('#officeId').html(treeNode.name);
				getRscList(treeNode.id,ids);
			}
		});
		return true;
	};
</script>
<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">

</style>
<%};%>
<%
var jsPart = {
%>
<script type="text/javascript">
//根据id删除资源
	function delRscById(id){
		$.get("/admin/job/delJobById.do", { id: id },
		    function(data){location.reload();
		    	if(data=="success"){
		    		alert("删除成功！");
		    		location.reload();
		    	}
		    }
		);   
	}
	
	function resetSrc(){
		$("#jobName").val("");
		$("#srcOffice").val("");
		$("#srcType").val("");
	}
	
	//查询
	function getRscList(id,ids){
		var srcOffice = "";
		if(id == null || id == ""){
			srcOffice = $.trim($("#srcOffice").val());
		}else{
			srcOffice = id;
		}
	
		var jobName=$.trim($("#jobName").val());
		var srcOffice=$.trim($("#srcOffice").val());
		var srcType=$.trim($("#srcType").val());
		$("#dg").datagrid({
		    url:'/admin/job/reloadListByOfficeId.do', 
		    fitColumns:true,
		    queryParams: {
				name: jobName,
				officeId: srcOffice,
				type:srcType,
				ids:ids
			},
		    pagination:true,
		    checkbox:true,
		    method:"get",
		    rownumbers:true,
		    columns:[[    
				{field:'ck',title:'全选',width:120,checkbox:true},  
				{field:'id',title:'id',width:0,hidden:true}, 
		        {field:'jobName',title:'岗位名称/职位',width:150,align:"center"},    
		        {field:'jobDuty',title:'岗位职责',width:150,align:"center"},
		        {field:'officeName',title:'所属单位',width:150,align:"center"},
		        {field:'businessName',title:'相关业务',width:150,align:"center"},
		        {field:'jobStatus',title:'当前状态',width:150,align:"center"}
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { jobName: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'jobName', colspan: 5 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	                $("input[name=ck]").hide();
	            }
		    }
		}); 
	}
	
	//$(document).ready(function(){
	//	getRscList();
	//});
	window.onload=function(){
		var ids = [-100];
		getRscList("",ids);
	}
	$('#checkSearch').on('click',function(){
		var ids = [-100];
		getRscList("",ids);
	})
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exhide-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/js/ztree-search-nodes.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<%};%>
<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <div class="col1">
    <h3 class="h3tit1">部门岗位信息</h3>
    <div>
      <input class="form-control noradius wd120" type="text" id="searchNodes" placeholder="检索">
    </div>
	<!-- 组织机构树 start -->
	<div class="zTreeDemoBackground left">
		<ul id="officeTree" class="ztree"></ul>
	</div>
	<!-- 组织机构树 end -->
  </div>
  <div class="col2">
    <h3 class="h3tit" id="officeId"></h3>
		    <div class="form-list top-search">
		      <ul class="li-fl">
		        <li>
		          <label>岗位名称</label>
		          <input id="jobName" class="form-control inp noradius" type="text" placeholder="" name="jobName" value="">
		        </li>
		        <!-- <li>
		          <label>所属单位</label>
		          <input id="srcOffice" class="form-control wd120" type="text" placeholder="" name="srcOffice" value="">
		        </li> -->
		        <li>
		          <label>岗位属性</label>
		          <select class="form-control sels wd148 noradius" name="type" id="srcType">
				  <option value="" >--请选择--</option>
				  <option value="1">公务员编制</option>
				  <option value="2">事业编制</option>
				  <option value="3">参公编制</option>
				  <option value="4">工勤编制</option>
				  <option value="5">其他</option>
				</select>
		        </li>
		        <li>
		          <button class="btns mlt30" type="button" id="checkSearch" >检索</button>
		          <input class="nobg mlt10" name="清空" type="button" value="清空" onclick="resetSrc()">
	        </li>
	      </ul>
	    </div>
	    <table id="dg"> </table>
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>