<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting);
	});
	var setting = {
		keep: {
			parent: true
		},
		view : {
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		async : {
			enable : true,
			url : "../office/officeTree",
			autoParam : [ "id", "name", "level" ],
			dataType : "json"
		},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		$.ajax({
			type : 'post',
			async : false,
			url : '../office/office',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$('#officeId').html(treeNode.name);
			}
		});
		return true;
	};
</script>
<script type="text/javascript">

</script>
<%};%>
<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <div class="col1">
    <h3 class="h3tit1">部门岗位信息</h3>
    <div>
      <input class="form-control noradius wd120" type="text" placeholder="检索">
    </div>
	<!-- 组织机构树 start -->
	<div class="zTreeDemoBackground left">
		<ul id="officeTree" class="ztree"></ul>
	</div>
	<!-- 组织机构树 end -->
  </div>
  <div class="col2">
    <h3 class="h3tit" id="officeId"></h3>
    	<form action="/admin/job/info">
		    <div class="form-list top-search">
		      <ul class="li-fl">
		        <li>
		          <label>岗位名称</label>
		          <input class="form-control wd120" type="text" placeholder="" name="name" value="${cMap.name==''?'':cMap.name}">
		        </li>
		        <li>
		          <label>所属单位</label>
		          <input class="form-control wd120" type="text" placeholder="" name="office" value="${cMap.office==''?'':cMap.office}">
		        </li>
		        <li>
		          <label>所属单位</label>
		          <input class="form-control wd120" type="text" placeholder="" name="office1" value="${cMap.office1==''?'':cMap.office1}">
		        </li>
		        <li>
		          <button class="btns mlt30" type="submit">检索</button>
		          <input class="nobg mlt10" name="清空" type="reset" value="清空">
	        </li>
	      </ul>
	    </div>
	    </form>
    <table class="table table-hover ntable mt20">
      <thead>
        <tr>
          <th width="60">序号</th>
          <th>岗位名称/职位</th>
          <th>岗位职责</th>
          <th>所属单位</th>
          <th width="100">岗位属性</th>
          <th width="135">相关业务</th>
        </tr>
      </thead>
      <tbody>
      	<%for(entry in jobList){ %>
	        <tr>
	          <td>${entryLP.index}</td>
	          <td>${entry.name}</td>
	          <td>${entry.duty}</td>
	          <td></td>
	          <td>${entry.type}</td>
	          <td></td>
	        </tr>
	     <%}%>
        <!--
        <tr>
          <td>2</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>3</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>4</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>5</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>6</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>7</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>8</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>9</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>10</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        -->
      </tbody>
    </table>
    <div class="page-box">
      <ul class="pagination">
        <li><a class="arrows-left" href="javascript:;" ></a></li>
        <li class="active"><a>1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a class="arrows-right" href="javascript:;"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>