<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">

<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript">


</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <div class="col1">
    <h3 class="h3tit1">业务目录信息</h3>
    <div>
      <input class="form-control noradius wd120" type="text" placeholder="检索">
    </div>
    <ul class="menu mt10">
      <li><a href="#" class="active" ><i class="glyphicon glyphicon-triangle-bottom"></i>吴中区</a>
        <ul>
          <li><a href="#"><i class="glyphicon glyphicon-triangle-bottom"></i>经信局</a>
            <ul>
              <li><a href="#">业务1</a></li>
              <li><a href="#" class="current" >业务2</a></li>
              <li><a href="#">业务3</a></li>
            </ul>
          </li>
          <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>财政局</a></li>
          <li><a href="#"><i class="glyphicon glyphicon-triangle-right"></i>审计局</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="glyphicon glyphicon-triangle-bottom"></i>相城区</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-triangle-bottom"></i>金闾区</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-triangle-bottom"></i>平江区</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-triangle-bottom"></i>沧浪区</a></li>
      <li><a href="#"><i class="glyphicon glyphicon-triangle-bottom"></i>虎丘区</a></li>
    </ul>
  </div>
  <div class="col2">
    <h3 class="h3tit">岗位信息维护</h3>
    <div class="form-list top-search">
      <ul class="li-fl">
        <li>
          <label>岗位名称</label>
          <input class="form-control wd120" type="text" placeholder="">
        </li>
        <li>
          <label>所属单位</label>
          <input class="form-control wd120" type="text" placeholder="">
        </li>
        <li>
          <label>所属单位</label>
          <input class="form-control wd120" type="text" placeholder="">
        </li>
        <li>
          <button class="btns mlt30" type="button">检索</button>
          <input class="nobg mlt10" name="清空" type="reset" value="清空">
        </li>
      </ul>
    </div>
    <table class="table table-hover ntable mt20">
      <thead>
        <tr>
          <th width="60">序号</th>
          <th>岗位名称/职位</th>
          <th>岗位职责</th>
          <th>所属单位</th>
          <th width="100">岗位属性</th>
          <th width="135">相关业务</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>2</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>3</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>4</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>5</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>6</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>7</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>8</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>9</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
        <tr>
          <td>10</td>
          <td>部门总经理</td>
          <td>战略发展</td>
          <td>九次方财富资讯(北京)有限公司</td>
          <td>管理</td>
          <td>18608065643</td>
        </tr>
      </tbody>
    </table>
    <div class="page-box">
      <ul class="pagination">
        <li><a class="arrows-left" href="javascript:;" ></a></li>
        <li class="active"><a>1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a class="arrows-right" href="javascript:;"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>