<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exhide-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/js/ztree-search-nodes.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.post('../office/tree',function(obj){
			jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting, obj);
		},'json');
		// search nodes
		$('#searchNodes').bind("propertychange", searchNode).bind("input", searchNode);
	});
	var setting = {
		keep: { parent: true },
		view : {
			addHoverDom : addHoverDom,
			removeHoverDom : removeHoverDom,
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		callback : {
			beforeDrag : beforeDrag,
			onClick : onClick
		}
	};
	function addHoverDom(treeId, treeNode){
		return false;
	}
	function beforeDrag(treeId, treeNodes){
		return false;
	}
	function onClick(event, treeId, treeNode) {
		$.ajax({
			type : 'post',
			async : false,
			url : 'jobTree',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$(obj.jobs).each(function(i,e){
					$('#' + treeNode.tId).prepend(
							'<span style="position:absolute;left:835px;" class="gcode">'
									+ e.name + '</span>');
				});
			}
		});
		return true;
	};
	function removeHoverDom(treeId, treeNode) {
		$('#' + treeNode.tId).children('.gcode').remove();
	};
</script>
<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">
	.ztree .level0{
		margin-left: 0px;
	}
	.ztree li{
		margin-left: 120px;
	}
</style>
<%};%>
<%
var jsPart = {
%>
<script type="text/javascript">

</script>
<%};%>
<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <h3 class="h3tit mt30">岗位目录管理</h3>
  <div id="_alert" style="display: none;"></div>
  <div class="search-sel mt20"> <a class="btns-gray fr" href="javascript:;">导出</a>
    <div class="search-inp ">
      <input class="form-control inp wd180" type="text" id="searchNodes" placeholder="检索">
      <i class="glyphicon glyphicon-search search-ico "></i> </div>
  </div>
  <div class="ml-wrap mt20 mb30">
    <div class="top-title"><span>一级域</span><span>二级域</span><span>一级部门</span><span>二级部门</span><span>岗位</span></div>
    <!-- 组织机构树 start -->
	<div class="zTreeDemoBackground left">
		<ul id="officeTree" class="ztree"></ul>
	</div>
	<!-- 组织机构树 end -->
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>