<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	//根据id删除资源
	function delRscById(id){  
		$.messager.confirm('确认','您确认想要删除记录吗？',function(r){    
		    if (r){  
		    	$.get("/admin/job/delJobById.do", { id: id },
				    function(data){location.reload();
				    	if(data=="success"){
				    		alert("删除成功！");
				    		location.reload();
				    	}
				    }
				);   
		    }    
		}); 
	}
	
	function resetSrc(){
		$("#srcName").val("");
		$("#srcStatus").val("");
	}
	
	//查询
	function getRscList(){
		var srcName=$.trim($("#srcName").val());
		var srcStatus=$.trim($("#srcStatus").val());
		
		$('#dg').datagrid({
		    url:'/admin/job/reloadList.do', 
		    fitColumns:true,
		    queryParams: {
				name: srcName,
				status: srcStatus
			},
		    pagination:true,
		    checkbox:true,
		    method:"get",
		    rownumbers:true,
		    columns:[[    
				{field:'ck',title:'全选',width:120,checkbox:true},  
				{field:'id',title:'id',width:0,hidden:true}, 
		        {field:'jobName',title:'岗位名称/职位',width:150,align:"center"},    
		        {field:'jobDuty',title:'岗位职责',width:150,align:"center"},
		        {field:'officeName',title:'所属单位',width:150,align:"center"},
		        {field:'businessName',title:'相关业务',width:150,align:"center"},
		        {field:'jobStatus',title:'当前状态',width:150,align:"center",
		        	formatter: function(value,row,index){
						if(value){
			        		var ds=value.replace(0,"未注册").replace(1,"注册中").replace(2,"已注册");
			        		return ds;
		        		}else{
		        			return "未知";
		        		}
					} 	
		        },
		        {field:'operator',title:'操作',width:220,align:"center",
		        	formatter:function(value,row,index){
		        		var s="";
		        		var b="";
		        		var c=""
		        		if(row.jobStatus == 0){
		        			s = '<a href="/admin/job/edit?id='+row.id+'">编辑</a> ';
		        		}else{
		        			c = '<a href="/admin/job/edit?id='+row.id+'">查看</a>';
		        		}
		                    //var c = '<a href="#" onclick="javascript:delRscById('+row.id+');">删除</a>';
		                    return s+b+c;
		                
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { jobName: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'jobName', colspan: 6 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	                $("input[name=ck]").hide();
	            }
		    }
		}); 
	}
	
	$(document).ready(function(){
		getRscList();
	});

	$("#applyFor").on('click',function(){
		var row=$("#dg").datagrid("getSelections");
		if(row.length==0){
			$.messager.alert("警告","请选择需要注册的数据！");
		    return false;
		}
		var ids="";
		var ishave=false;
		for(var i=0; i<row.length; i++){
		    if(row[i].jobStatus != 0){
		    	ishave=true;
		    	continue;
		    }
		    ids+=row[i].id+",";
		}
		/* if(ishave){
			$.messager.alert("警告","您只能选择未注册的数据！");
		    return false;
		} */
		ids = ids.substring(0,ids.length-1)
	 	$.messager.confirm('确认','您确认提交申请吗？',function(r){    
		    if (r){  
		    	$.post("/admin/job/jobApplyFor.do", { ids: ids },
				    function(data){
				    	if(data=="success"){
				    		$.messager.alert("成功","注册申请已提交，请等待审批！")
				    		getRscList();
				    	}
				    }
				);   
		    }    
		});  
	});
	$("#logOff").on('click',function(){
		var row=$("#dg").datagrid("getSelections");
		if(row.length==0){
			$.messager.alert("警告","请选择需要注销的数据!");
		    return false;
		}
		var ids="";
		var ishave=false;
		for(var i=0; i<row.length; i++){
		    if(row[i].jobStatus != 2){
		    	ishave=true;
		    	continue;
		    }
		    ids+=row[i].id+",";
		}
		/* if(ishave){
			$.messager.alert("警告","您只能选择已注册的岗位!");
		    return false;
		} */
		ids = ids.substring(0,ids.length-1)
	 	$.messager.confirm('确认','您确认申请注销吗？',function(r){    
		    if (r){  
		    	$.post("/admin/job/logOff.do", { ids: ids },
				    function(data){
				    	if(data=="success"){
				    		$.messager.alert("成功","注销申请已提交，请等待审批！")
				    		getRscList();
				    	}
				    }
				);   
		    }    
		});  
	});
</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <h3 class="h3tit mt30">岗位信息维护</h3>
	  <div class="form-list top-search">
	    <ul class="li-fl">
	      <li>
	        <label>岗位名称/职位</label>
	        <input id="srcName" class="form-control inp noradius" type="text" placeholder="" name="name" value="">
	      </li>
	      <li>
	        <label>当前状态</label>
	        <select id="srcStatus" class="form-control sels wd148 noradius" name="status">
	       	  <option value="">-选择-</option>
	          <option value="0">未注册</option>
	          <option value="1">注册中</option>
	          <option value="2">已注册</option>
	        <!--   <option value="3">未通过</option>
	          <option value="4">注销中</option>
	          <option value="5">已注销</option> -->
	        </select>
	      </li>
	      <li>
	        <button class="btns mlt30" type="button" onclick="getRscList()">检索</button>
	        <button class="btns mlt30" type="button" onclick="resetSrc()">清空</button>
	      </li>
	    </ul>
	  </div>
  <div class="search-sel"> <a class="btns-gray" href="/admin/job/addjob">新建岗位</a> <a class="btns-gray" href="javascript:;" id="applyFor">申请注册</a> <a class="btns-gray" href="javascript:;" id="logOff">申请注销</a> </div>
 <table id="dg"> </table>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>