<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">

<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript">


</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <h3 class="h3tit mt30">岗位信息维护</h3>
  	<form action="/admin/job/maintenance" method="GET">
	  <div class="form-list top-search">
	    <ul class="li-fl">
	      <li>
	        <label>岗位名称/职位</label>
	        <input class="form-control inp noradius" type="text" placeholder="" name="name" value="${cMap.name==''?'':cMap.name}">
	      </li>
	      <li>
	        <label>当前状态</label>
	        <select class="form-control sels wd148 noradius" name="status">
	          <option>未提交</option>
	          <option>提交</option>
	        </select>
	      </li>
	      <li>
	        <button class="btns mlt30" type="submit">检索</button>
	        <input class="nobg mlt10" name="清空" type="reset" value="清空">
	      </li>
	    </ul>
	  </div>
	</form>
  <div class="search-sel"> <a class="btns-gray" href="/admin/job/addjob">新建岗位</a> <a class="btns-gray" href="javascript:;">申请注册</a> <a class="btns-gray" href="javascript:;">申请注销</a> </div>
  <table class="table table-hover ntable mt20">
    <thead>
      <tr>
        <th class="tc" width="40"><i class="ico-check"></i></th>
        <th width="60" class="tc">序号</th>
        <th>岗位名称/职位</th>
        <th>岗位职责</th>
        <th>所属单位</th>
        <th width="100">岗位属性</th>
        <th width="135">相关业务</th>
        <th width="86">当前状态</th>
        <th width="80">操作</th>
      </tr>
    </thead>
    <tbody>
     <%for(entry in jobList){ %>
      <tr>
        <td class="tc"><i class="ico-check"></i></td>
        <td class="tc"> ${entryLP.index}</td>
        <td> ${entry.name}</td>
        <td>${entry.duty}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>未注册</td>
        <td><a href="/admin/job/edit?id=${entry.id}">编辑</a></td>
      </tr>
       <%}%>
      <!-- 
      <tr>
        <td class="tc"><i class="ico-check ico-checked"></i></td>
        <td class="tc">2</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">查看</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check"></i></td>
        <td class="tc">3</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">编辑</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check ico-checked"></i></td>
        <td class="tc">4</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">查看</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check"></i></td>
        <td class="tc">5</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">编辑</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check ico-checked"></i></td>
        <td class="tc">6</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">查看</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check"></i></td>
        <td class="tc">7</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">编辑</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check ico-checked"></i></td>
        <td class="tc">8</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">查看</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check"></i></td>
        <td class="tc">9</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">编辑</a></td>
      </tr>
      <tr>
        <td class="tc"><i class="ico-check ico-checked"></i></td>
        <td class="tc">10</td>
        <td>部门总经理</td>
        <td>战略发展</td>
        <td>九次方财富资讯(北京)有限公司</td>
        <td>管理</td>
        <td>81334567</td>
        <td>未注册</td>
        <td><a href="javascript:;">查看</a></td>
      </tr>
       -->
    </tbody>
  </table>
  <div class="page-box">
    <ul class="pagination">
      <li><a class="arrows-left" href="javascript:;" ></a></li>
      <li class="active"><a>1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
      <li><a class="arrows-right" href="javascript:;"></a></li>
    </ul>
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>