body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:162px;
  width:92px;
  height:185px;
}
#u0_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u2 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2_img.selected {
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u5 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u1_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u7 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u8 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
}
#u10 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u11 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:60px;
  width:67px;
  height:20px;
}
#u13 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u14 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:80px;
  width:67px;
  height:20px;
}
#u16 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16_img.selected {
}
#u16.selected {
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u19 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u15_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u20 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u21 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u22 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
}
#u24 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u25 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:100px;
  width:67px;
  height:20px;
}
#u27 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u30 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u26_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u31 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u32 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u33 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:120px;
  width:67px;
  height:20px;
}
#u35 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u34_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u39 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u40 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u41 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:0px;
  top:140px;
  width:67px;
  height:20px;
}
#u43 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u43_img.selected {
}
#u43.selected {
}
#u44 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u42_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u47 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u48 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u49 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:160px;
  width:67px;
  height:20px;
}
#u51 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u51_img.selected {
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u50_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u55 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u56 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u57 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:10px;
  top:120px;
  width:121px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:104px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:121px;
  height:1px;
}
#u59 {
  position:absolute;
  left:10px;
  top:94px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:141px;
  top:130px;
  width:10px;
  height:450px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:433px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:450px;
}
#u62 {
  position:absolute;
  left:172px;
  top:142px;
  width:66px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:268px;
  top:142px;
  width:722px;
  height:480px;
  line-height:28px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:480px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:161px;
  top:121px;
  width:839px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:822px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:839px;
  height:1px;
}
#u68 {
  position:absolute;
  left:10px;
  top:590px;
  width:1001px;
  height:52px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:52px;
}
#u69 {
  position:absolute;
  left:2px;
  top:18px;
  width:997px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:165px;
  top:102px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:10px;
  top:132px;
  width:131px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74 {
  position:absolute;
  left:10px;
  top:10px;
  width:1001px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:41px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:997px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:955px;
  top:22px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:10px;
  top:51px;
  width:1001px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:31px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:997px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:840px;
  top:22px;
  width:79px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:496px;
  top:51px;
  width:515px;
  height:30px;
}
#u82_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:521px;
  height:36px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:35px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u84_ann {
  position:absolute;
  left:60px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u86_ann {
  position:absolute;
  left:134px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u88_ann {
  position:absolute;
  left:208px;
  top:0px;
  width:1px;
  height:1px;
}
#u90 {
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u90_ann {
  position:absolute;
  left:282px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:296px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u92_ann {
  position:absolute;
  left:356px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:370px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u94_ann {
  position:absolute;
  left:430px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  position:absolute;
  left:444px;
  top:0px;
  width:71px;
  height:30px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u96_ann {
  position:absolute;
  left:501px;
  top:0px;
  width:1px;
  height:1px;
}
#u98 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u98_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u105 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:74px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u110_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:370px;
  top:30px;
  width:100px;
  height:80px;
  visibility:hidden;
}
#u122_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:86px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:85px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u129 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u131 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:222px;
  top:30px;
  width:100px;
  height:100px;
  visibility:hidden;
}
#u132_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:106px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:105px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  text-align:center;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u139 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:20px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:20px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
