body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1001px;
  height:41px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:41px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:955px;
  top:22px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:270px;
  top:190px;
  width:442px;
  height:39px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:270px;
  top:240px;
  width:27px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:722px;
  top:190px;
  width:69px;
  height:39px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:319px;
  top:240px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:398px;
  top:240px;
  width:27px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:445px;
  top:240px;
  width:27px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:496px;
  top:240px;
  width:27px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:543px;
  top:240px;
  width:27px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:380px;
  top:130px;
  width:268px;
  height:37px;
  color:#FF0000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:37px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:10px;
  top:550px;
  width:1001px;
  height:52px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:52px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:997px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:283px;
  top:318px;
  width:92px;
  height:185px;
}
#u24_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u26 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u25_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:60px;
  width:67px;
  height:20px;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:80px;
  width:67px;
  height:20px;
}
#u40 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u39_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u44 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:20px;
  top:40px;
  width:67px;
  height:20px;
}
#u48 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u49 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:100px;
  width:67px;
  height:20px;
}
#u51 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u51_img.selected {
}
#u51.selected {
}
#u52 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u50_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u55 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u56 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u57 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:0px;
  top:120px;
  width:67px;
  height:20px;
}
#u59 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u59_img.selected {
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u58_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u63 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:140px;
  width:67px;
  height:20px;
}
#u67 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u67_img.selected {
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u70 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u66_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u71 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u72 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u73 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:0px;
  top:160px;
  width:67px;
  height:20px;
}
#u75 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u75_img.selected {
}
#u75.selected {
}
#u76 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u78 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u74_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u79 {
  position:absolute;
  left:20px;
  top:20px;
  width:67px;
  height:20px;
}
#u80 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u81 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:263px;
  top:266px;
  width:521px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:504px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:521px;
  height:1px;
}
#u83 {
  position:absolute;
  left:270px;
  top:267px;
  width:12px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:790px;
  top:278px;
  width:10px;
  height:252px;
}
#u85_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u85_end {
  position:absolute;
  left:-5px;
  top:235px;
  width:20px;
  height:18px;
}
#u85_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:252px;
}
#u86 {
  position:absolute;
  left:263px;
  top:278px;
  width:521px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87 {
  position:absolute;
  left:250px;
  top:278px;
  width:10px;
  height:252px;
}
#u87_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u87_end {
  position:absolute;
  left:-5px;
  top:235px;
  width:20px;
  height:18px;
}
#u87_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:252px;
}
