<% var cssPart = { %>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">
</style>
<%};%>

<% var jsPart = { %>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting);
	});
	var setting = {
		keep: {
			parent: true
		},
		view : {
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		async : {
			enable : true,
			url : "officeTree",
			autoParam : [ "id", "name", "level" ],
			dataType : "json"
		},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		$.ajax({
			type : 'post',
			async : false,
			url : 'office',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$('#officeId').html(treeNode.name);
				$('#duty').html('<h5 class="h4tit">主要职能</h5>' + (typeof(obj.duty) == 'undefined' ? '' : obj.duty));
			}
		});
		return true;
	};
</script>
<script type="text/javascript">
	
</script>
<%};%>

<% var htmlPart = { %>
<!-- start: MAIN CONTAINER -->
<div class="content">
	<div class="col1">
		<h3 class="h3tit1">机构职责信息</h3>
		<div>
			<input class="form-control noradius wd120" type="text" placeholder="检索">
		</div>
		<!-- 组织机构树 start -->
		<div class="zTreeDemoBackground left">
			<ul id="officeTree" class="ztree"></ul>
		</div>
		<!-- 组织机构树 end -->
	</div>
	<div class="col2">
		<h3 class="h3tit" id="officeId"></h3>
		<div class="text-warp" id="duty">
		</div>
	</div>
</div>
<!-- end: MAIN CONTAINER -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>
