<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exhide-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/js/ztree-search-nodes.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.post('tree',function(obj){
			jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting, obj);
		},'json');
		// search nodes
		$('#searchNodes').bind("propertychange", searchNode).bind("input", searchNode);
		// areaSubmit
		$('#areaSubmit').on('click', areaSubmit);
		// officeSubmit
		$('#officeSubmit').on('click', officeSubmit);
	});
	var setting = {
		keep: { parent: true },
		view : {
			removeHoverDom : removeHoverDom,
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : true},
		callback : {
			beforeDrop : beforeDrop,
			onClick : onClick,
			beforeRemove : beforeRemove,
			beforeEditName : beforeEditName
		}
	};
	function beforeDrop(treeId, treeNodes, targetNode, moveType){
		var flag = false;
		$.ajax({
			type : 'post',
			async : false,
			url : 'drag',
			data : {
				'id' : treeNodes[0].id,
				'targetId' : targetNode.id,
				'mt' : moveType
			},
			dataType : 'json',
			success : function(obj) {
				var txt = '<div class="alert alert-success">'
					+ '<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
					+ '删除操作成功！</div>';
				$('#_alert').html(txt).show();
				flag = true;
			},
			error : function(){
				var txt = '<div class="alert alert-danger">'
					+ '<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
					+ '删除操作失败，请重试！</div>';
				$('#_alert').html(txt).show();
			}
		});
		return flag;
	}
	function onClick(event, treeId, treeNode) {
		$.ajax({
			type : 'post',
			async : false,
			url : 'catalogInfo',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$('#' + treeNode.tId).prepend(
						'<span style="position:absolute;left:835px;" class="gcode">'
								+ obj.data.typeValue + '</span>');
			}
		});
		return true;
	};
	function removeHoverDom(treeId, treeNode) {
		$('#' + treeNode.tId).children('.gcode').remove();
	};
	function beforeRemove(treeId, treeNode) {
		var flag = false;
		$.ajax({
			type : 'post',
			async : false,
			url : 'delete',
			data : {
				'id' : treeNode.id
			},
			dataType : 'json',
			success : function(data) {
				flag = true;
			}
		});
		var txt = '<div class="alert alert-danger">'
				+ '<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
				+ '删除操作失败，请重试！</div>';
		if (flag) {
			txt = '<div class="alert alert-success">'
					+ '<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
					+ '删除操作成功！</div>';
		}
		$('#_alert').html(txt).show();
		return flag;
	};
	function beforeEditName(treeId, treeNode) {
		if (treeNode.level <= 1) {
			$.post('catalogInfo', {
				'officeId' : treeNode.id
			}, function(obj) {
				$('#area_type').val(1);
				$('#parentAreaId').val(treeNode.id);
				$('#areaName').val(treeNode.name);
				$('#areaCode').val(obj.data.typeValue);
				$('.areaAlert').remove();
				$('#addArea').modal('show');
			}, 'json');
		} else if (treeNode.level <= 3) {
			$.post('catalogInfo', {
				'officeId' : treeNode.id
			}, function(obj) {
				$('#office_type').val(1);
				$('#parentOfficeId').val(treeNode.id);
				$('#officeName').val(treeNode.name);
				$('#officeCode').val(obj.data.typeValue);
				$('.officeAlert').remove();
				$('#addOffice').modal('show');
			}, 'json');
		}
		return false;
	}
	
</script>
<% var cssPart = { %>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">
	.ztree .level0{
		margin-left: 0px;
	}
	.ztree li{
		margin-left: 120px;
	}
</style>
<%};%>
<% var jsPart = { %>
<script type="text/javascript">
	function addAreaCheck(){
		var treeObj = jq1_4.fn.zTree.getZTreeObj("officeTree");
		if(treeObj == null)
			return;
		var nodes = treeObj.getSelectedNodes();
		var parentId = 0;
		if (nodes.length > 0) {
			if (nodes[0].level >= 1) {
				$('#_alert').html('<div class="alert alert-warning">'
						+'<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
						+'选中项下不可新建域，请重新选择！</div>').show();
				return false;
			}
			parentId = nodes[0].id;
		}
		$('#parentAreaId').val(parentId);
		$('#areaName').val('');
		$('#areaCode').val('');
		$('#area_type').val(0);
		$('.areaAlert').remove();
		$('#addArea').modal('show');
	}
	function addOfficeCheck(){
		var treeObj = jq1_4.fn.zTree.getZTreeObj("officeTree");
		if(treeObj == null)
			return;
		var nodes = treeObj.getSelectedNodes();
		if(nodes.length==0){
			$('#_alert').html('<div class="alert alert-warning">'
					+'<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
					+'请先指定部门所在的域！</div>').show();
			return false;
		}
		if(nodes[0].level>=3){
			$('#_alert').html('<div class="alert alert-warning">'
					+'<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
					+'选中项下不可新建部门，请重新选择！</div>').show();
			return false;
		}
		$('#parentOfficeId').val(nodes[0].id);
		$('#officeName').val('');
		$('#officeCode').val('');
		$('#office_type').val(0);
		$('.officeAlert').remove();
		$('#addOffice').modal('show');
	}
	function areaSubmit(){
		if($.trim($('#areaName').val()) == ''){
			$('<div class="alert alert-warning areaAlert">'
					+'<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
					+'请输入域名称！</div>').insertBefore($('#areaBtn'));
			return;
		}
		var _t = $('#area_type').val();
		$.post(_t==1?'update':'save',$('#areaForm').serialize(),function(obj){
			if(obj.succ==1){
				$('#_alert').html('<div class="alert alert-success areaAlert">'
						+'<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
						+obj.msg
						+'</div>').show();
				var treeObj = jq1_4.fn.zTree.getZTreeObj("officeTree");
				if(treeObj == null)
					return;
				var selectedNode = treeObj.getNodeByParam("id", $('#parentAreaId').val(), null);
				if(_t == 1){
					selectedNode.name = $('#areaName').val();
					treeObj.updateNode(selectedNode);
					$('#'+selectedNode.tId).children('.gcode').html($('#areaCode').val());
				} else{
					treeObj.reAsyncChildNodes(selectedNode, "refresh");
				}
				$('#addArea').modal('hide');
			}
		},"json");
	}
	function officeSubmit(){
		if($.trim($('#officeName').val()) == ''){
			$('<div class="alert alert-warning officeAlert">'
					+'<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
					+'请输入部门名称！</div>').insertBefore($('#officeBtn'));
			return;
		}
		var _t = $('#office_type').val();
		$.post(_t==1?'update':'save',$('#officeForm').serialize(),function(obj){
			if(obj.succ==1){
				$('#_alert').html('<div class="alert alert-success officeAlert">'
						+'<button type="button" class="close" data-dismiss="alert"  aria-hidden="true">&times;</button>'
						+obj.msg
						+'</div>').show();
				var treeObj = jq1_4.fn.zTree.getZTreeObj("officeTree");
				if(treeObj == null)
					return;
				var selectedNode = treeObj.getNodeByParam("id", $('#parentOfficeId').val(), null);
				if(_t == 1){
					selectedNode.name = $('#officeName').val();
					treeObj.updateNode(selectedNode);
					$('#'+selectedNode.tId).children('.gcode').html($('#officeCode').val());
				} else{
// 					treeObj.reAsyncChildNodes(selectedNode, "refresh");
// 					treeObj.refresh();
					window.location.href = "manage";
				}
				$('#addOffice').modal('hide');
			}
		},"json");
	}
</script>
<%};%>

<% var htmlPart = { %>
<!-- start: MAIN CONTAINER -->
<div class="content">
	<h3 class="h3tit mt30">机构目录管理</h3>
	<div id="_alert" style="display: none;"></div>
	<div class="search-sel mt20">
		<a class="btns-gray fr" href="javascript:;">导出</a><a
			class="btns-gray fr" href="javascript:;">导入</a> <a
			class="btns-gray wd fr" href="javascript:;">导入模块下载</a>
		<div class="search-inp ">
			<a href="javascript:void(0);" class="btns-gray" data-toggle="modal" role="button" onclick="addAreaCheck();">
				<i class="all-icon xjaear-icon fl" ></i>新增域
			</a>
			<a href="javascript:void(0);" class="btns-gray" data-toggle="modal" role="button" onclick="addOfficeCheck();">
				<i class="all-icon xjbm-icon fl"></i>新增部门
			</a>
			<input class="form-control inp wd180" type="text" id="searchNodes" placeholder="检索">
			<i class="glyphicon glyphicon-search search-ico "></i>
		</div>
	</div>
	<div class="ml-wrap mt20 mb30">
		<div class="top-title">
			<span>一级域</span><span>二级域</span><span>一级部门</span><span>二级部门</span><span>国际代码</span>
		</div>
		<!-- 组织机构树 start -->
		<div class="zTreeDemoBackground left">
			<ul id="officeTree" class="ztree"></ul>
		</div>
		<!-- 组织机构树 end -->
	</div>
</div>

<!-- 模态框start -->
<div class="modal fade" id="addArea" tabindex="-1" role="dialog" 
   aria-labelledby="areaLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="areaLabel">
               新增域
            </h4>
         </div>
			<form role="form" id="areaForm">
				<div class="modal-body">
					<input type="hidden" name="parentId" id="parentAreaId"/>
					<input type="hidden" id="area_type"/>
					<div class="form-group">
						<label for="areaName">域名称*</label> 
						<input type="text"  name="name" class="form-control" id="areaName" placeholder="请输入域名称">
					</div>
					<div class="form-group">
						<label for="areaCode">国际代码</label>
						<input type="text" name="code" class="form-control" id="areaCode" placeholder="请输入国际代码">
					</div>
				</div>
				<div class="modal-footer" id="areaBtn">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" id="areaSubmit" class="btn btn-primary">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="addOffice" tabindex="-1" role="dialog" 
   aria-labelledby="officeLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="officeLabel">
               新增部门
            </h4>
         </div>
			<form role="form" id="officeForm">
				<div class="modal-body">
					<input type="hidden" name="parentId" id="parentOfficeId"/>
					<input type="hidden" id="office_type"/>
					<div class="form-group">
						<label for="officeName">部门名称*</label> 
						<input type="text"  name="name" class="form-control" id="officeName" placeholder="请输入域名称">
					</div>
					<div class="form-group">
						<label for="officeCode">国际代码</label>
						<input type="text" name="code" class="form-control" id="officeCode" placeholder="请输入国际代码">
					</div>
				</div>
				<div class="modal-footer" id="officeBtn">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" id="officeSubmit" class="btn btn-primary">提交</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="deleteNode" tabindex="-1" role="dialog" 
   aria-labelledby="deleteNodeLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="deleteNodeLabel">
               新增部门
            </h4>
         </div>
         <div class="modal-body">
            在这里添加一些文本
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交
            </button>
         </div>
      </div>
</div>
</div>
<!-- 模态框end -->
<!-- end: MAIN CONTAINER -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>
