<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">

</style>
<%};%>
<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.fn.zTree.init(jq1_4("#subjecctTree"), setting);
	});
	var setting = {
		keep: {
			parent: true
		},
		view : {
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		async : {
			enable : true,
			url : "tree",
			autoParam : [ "id", "name", "level" ],
			dataType : "json"
		},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		$.ajax({
			type : 'post',
			async : false,
			url : '../office/office',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$('#subjectId').html(treeNode.name);
				$('#subId').html(treeNode.id);
				subDg(treeNode.id);
				bizDg(treeNode.id);
				rscDg(treeNode.id);
			}
		});
		return true;
	};
</script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	
	//主题Datagrid
	function subDg(subjectId){
		$('#sb').datagrid({
		    url:'/admin/subject/getListById.do', 
		    queryParams: {
		    	subjectId:subjectId,
		    	page:1,
				rows:1
			},			
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'主题名称',width:320},
		        {field:'shareRegion',title:'共享范围',width:230},
		        {field:'operator',title:'操作',width:220,align:"center",
		        	formatter:function(value,row,index){
	                    var s = '<a href="/admin/subject/action.do?type=view&subjectId='+row.id+'">查看</a> ';
	                    return s;
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 3 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
		    	}
		    }
		}); 
	}
	
	//业务Datagrid
	function bizDg(subjectId){
		$('#biz').datagrid({
		    url:'/admin/business/findBySubId.do', 
		    queryParams: {
		    	subjectId:subjectId
			},
// 			rownumbers:true,
			fitColumns:true,
			pagination:true,
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'业务名称',width:120},
		        {field:'code',title:'业务事项编码',width:130},
		        {field:'type',title:'业务事项分类',width:120},
		        {field:'basis',title:'办理依据',width:130,
		        	formatter:function(value,row,index){
		        		if(value){
		        			if(value==0){
		        				return "无";
		        			}else{
		        				var sdf=value.split("-")[1];
		        				return sdf.replace(1,"国家相关规定").replace(2,"市委、市政府相关规定").replace(3,"国家部委相关规定").replace(4,"本单位相关规定");
		        			}
		        		}else{
		        			return "无";
		        		}
	            	}
		        },
		        {field:'chargeOfficeId',title:'业务所属部门',width:120},
		        {field:'shareWith',title:'共享范围',width:130,
		        	formatter:function(value,row,index){
		        		if(value){
			        		var ds=value.replace(1,"所有人员").replace(2,"国家部委").replace(3,"市领导").replace(4,"委办局").replace(5,"委（局）内")
			        		.replace(6,"本部门专员").replace(7,"其他");
			        		return ds;
		        		}else{
		        			return "--";
		        		}
	            	}
		        },
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
		        		var s = '<a href="/admin/business/action.do?type=view&id='+row.id+'">查看</a> ';
	                    var b = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	                    var c = '<a href="#" onclick="javascript:delBizLinkById('+row.id+');">删除</a>';
	                    return s+b+c;
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 7 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
		    	}
		    }
		}); 
	}
	
	//资源Datagrid
	function rscDg(subjectId){
		$('#rsc').datagrid({
		    url:'/admin/resource/findBySubId.do', 
		    queryParams: {
		    	subjectId:subjectId
			},
// 			rownumbers:true,
			fitColumns:true,
			pagination:true,
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'资源名称',width:120},
		        {field:'code',title:'资源代码',width:130},
// 		        {field:'name',title:'一级子项名称',width:120},
		        {field:'responseParty',title:'业务所属部门',width:130},
		        {field:'shareRegion',title:'共享范围',width:120,
		        	formatter:function(value,row,index){
		        		if(value){
			        		var ds=value.replace(1,"国家部委").replace(2,"市领导").replace(3,"委办局").replace(4,"委（局）内")
			        		.replace(5,"本部门专员").replace(6,"其他");
			        		return ds;
		        		}
	            	}
		        },
		        {field:'shareMode',title:'共享方式',width:130,
		        	formatter:function(value,row,index){
		        		if(value){
			        		var ds=value.replace(1,"网上发布").replace(2,"介质交流（纸制报表，电子文档等）").replace(3,"委（局）内").replace(4,"系统接口")
			        		.replace(5,"其他");
			        		return ds;
		        		}
	            	}
		        },
		        {field:'securityLevel',title:'安全级别',width:120,
		        	formatter:function(value,row,index){
		        		var tsd;
		        		if(value){
			        		switch (value){
				        		case 1:tsd="未分级";break;
				        		case 2:tsd="内部";break;
				        		case 3:tsd="秘密";break;
				        		case 4:tsd="机密";break;
				        		case 5:tsd="绝密";break;
			        		}
			        		return tsd;
		        		}
	            	}
		        },
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
		        		var s = '<a href="/admin/resource/action.do?type=view&id='+row.id+'">查看</a> ';
	                    var b = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	                    var c = '<a href="#" onclick="javascript:delRscLinkById('+row.id+');">删除</a>';
	                    return s+b+c;
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 7 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
		    	}
		    }
		}); 
	}
	
	//页面初始化加载
	$(document).ready(function(){
		subDg(0);
		bizDg(0);
		rscDg(0);
	});
	
	//加载业务datagrid
	$('#bizlink').combogrid({    
	    panelWidth:450,    
	    idField:'id',    
	    multiple: true,
	    url:'/admin/business/bizList.do',    
	    pagination:true,
	    toolbar:[{
			text:'提交',
			handler:function(){
				var vals = $('#bizlink').combogrid('getValues')+"";
				if($('#bizlink').combogrid('getValues')){
					var subId=$('#subId').html();
					if(subId){
						sendLinkReq("/admin/business/batchUpdateBiz.do",subId,vals);
						$('#bizlink').combogrid('hidePanel');
					}else{
						alert('请选择左侧的主题！');
	// 					$.messager.alert('提示','请选择左侧的主题！'); 
					}
				}else{
					alert("请选择要关联的业务");
				}
			}
		}],
	    columns:[[    
			{field:'ck',checkbox:true},
	        {field:'code',title:'业务编码',width:100},    
	        {field:'name',title:'业务名称',width:100},    
	        {field:'subjectId',title:'状态',width:200,
	        	formatter: function(value,row,index){
					if(value){
						return "已关联";
					}else{
						return "";
					}
				}
		    }    
	    ]]    
	});  
	
	//加载资源datagrid
	$('#rsclink').combogrid({    
	    panelWidth:450,    
	    idField:'id',    
	    url:'/admin/resource/rscList.do',   
	    multiple: true,
	    pagination:true,
	    toolbar:[{
			text:'提交',
			handler:function(){
				var vals = $('#rsclink').combogrid('getValues')+"";
				if($('#rsclink').combogrid('getValues')){
					var subId=$('#subId').html();
					if(subId){
						sendLinkReq("/admin/resource/batchUpdateRsc.do",subId,vals);
						$('#rsclink').combogrid('hidePanel');
					}else{
						alert('请选择左侧的主题！');
					}
				}else{
					alert("请选择要关联的资源");
				}
			}
		}],
	    columns:[[    
			{field:'ck',checkbox:true},
	        {field:'code',title:'资源编码',width:100},    
	        {field:'name',title:'资源名称',width:100},    
	        {field:'subjectId',title:'状态',width:200,
	        	formatter: function(value,row,index){
	        		if(value){
						return "已关联";
					}else{
						return "";
					}
				}
	        }  
	    ]]    
	});
	
	/*
	 *发送请求到后台
	 *@url 请求的Url
	 *@id  主题id
	 *@params 资源字符串
	 */
	function sendLinkReq(url,subId,params){
		$.post(url, { subId: subId, params: params },
		    function(data){
				if(data=="success"){
					alert('关联成功！');
// 					$.messager.alert('提示','关联成功！');
				    bizDg($('#subId').html());
				    rscDg($('#subId').html());
				}
		    }
		);
	}
	
	//根据id删除业务
	function delBizLinkById(id){
		$.get("/admin/business/delBizLinkSub.do", { id: id },
	    function(data){
	    	if(data=="success"){
	    		alert('删除成功！');
// 	    		$.messager.alert('提示','删除成功！');
	    		location.reload();
	    	}
	    });
	}
	
	//根据id删除业务
	function delRscLinkById(id){
		$.get("/admin/resource/delRscLinkSub.do", { id: id },
	    function(data){
	    	if(data=="success"){
	    		alert('删除成功！');
// 	    		$.messager.alert('提示','删除成功！');
	    		location.reload();
	    	}
	    });
	}
	
</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <div class="col1">
    <h3 class="h3tit1">主题目录关联</h3>
    <div>
      <input class="form-control noradius wd120" type="text" placeholder="检索">
    </div>
 	<!-- 组织机构树 start -->
	<div class="zTreeDemoBackground left">
		<ul id="subjecctTree" class="ztree"></ul>
	</div>
	<!-- 组织机构树 end -->
  </div>
  <div class="col2">
    <h3 class="h3tit" id="subjectId"></h3>
    <span id="subId" style="display:none;"></span>
    <!-- 主题 -->
    <table id="sb"></table>
    
    <h3 class="h3tit h3posit  mt20">关联业务<select id="bizlink" style="width:20px" ></select> </h3>    
	
	<!-- 业务 -->   
    <table id='biz'></table>

    <h3 class="h3tit mt20">关联资源<select id="rsclink" style="width:20px" ></select></h3>
    <!-- 资源 -->
    <table id='rsc'></table>
    
    <div class="tishi"><p>*关联主题注册通过后，部门管理员即不可修改、删除，但可以新建关联关系！</p></div>
  </div>
</div>
<div id="myWindow" class="easyui-dialog" closed="true"></div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%> 