<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">

<style type="text/css">

</style>

<%};%>

<%
var jsPart = {
%>
<script type="text/javascript">

</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
	<form action='/admin/subject/${subject==null?"doCreate":"doUpdate"}.do' method="post">
		<h2 class="compile-title mt40">主题信息${actionType=="update"?"编辑":actionType=="view"?"查看":"创建"}</h2>
		<span class="imaginary-line"></span>
		<div class="compile-form">
			<div class="c-formbox">
		        <label class="compile-form-title fl">主题名称</label>
				<input class="form-control inp fl c-f-width540" type="text" placeholder="" name="name" value="${subject==null?'':subject.name}">
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">主题描述</label>
				<textarea class="form-control fl c-f-width540" rows="3" name="descr">${subject==null?'':subject.descr}</textarea>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">共享范围</label>
				<textarea class="form-control fl c-f-width540" rows="3" name="shareRegion">${subject==null?'':subject.shareRegion}</textarea>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">共享状态</label>
				<textarea class="form-control fl c-f-width540" rows="3" name="shareMode">${subject==null?'':subject.shareMode}</textarea>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="c-formbox">
				<label class="compile-form-title fl">主题状态</label>
				<select class="form-control c-f-width540" name="status" >
	             <option value="1" ${subject==null?'':subject.status == 1?selected="selected":selected=""}>使用</option>
				 <option value="2" ${subject==null?'':subject.status == 2?selected="selected":selected=""}>草案</option>
				 <option value="3" ${subject==null?'':subject.status == 3?selected="selected":selected=""}>废止</option>
				 <option value="4" ${subject==null?'':subject.status == 4?selected="selected":selected=""}>标准</option>
				</select>
			</div>
			<div class="mb20 clearfix"></div>
			<div class="btn-box fr mb20">
			<%if(null!=actionType&&actionType=="view"){%>
		    	<a class="btns-gray fl" style="margin-left: 200px;" href="javascript:history.go(-1);">关闭</a>
		    <%}else{%>
				<button class="btns fl mr20" type="submit">提交</button>
				<a class="btns-gray fl" href="/admin/subject/manage.do">取消</a>
			<%}%>
			</div>
		</div>
	</form>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>