<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">
	.ztree .level0{
		margin-left: 0px;
	}
	.ztree li{
		margin-left: 120px;
	}
</style>

<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exhide-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/js/ztree-search-nodes.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.post('tree',function(obj){
			jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting, obj);
		},'json');
		// search nodes
		$('#searchNodes').bind("propertychange", searchNode).bind("input", searchNode);
	});
	var setting = {
		keep: {parent: true},
		view : {
			removeHoverDom : removeHoverDom,
			selectedMulti : false
		},
		data : {
			simpleData : {enable : true},
			key : {title: "fullName"}
		},
		edit : {
			enable : true,
			renameTitle : '编辑',
			removeTitle: "删除"
		},
		callback : {
			onClick : onClick,
			beforeRemove:beforeRemove,
			onRemove: onRemove,
			beforeEditName: beforeEditName
		}
	};
	function onClick(event, treeId, treeNode) {
		jq1_4('#' + treeNode.tId).prepend(
				'<span style="position:absolute;left:695px;" class="gcode">'
						+ treeNode.status.replace("1","使用").replace("2","草案").replace("3","废止").replace("4","标准") + '</span>');
		jq1_4("#subsub").attr("href","/admin/subject/action.do?type=create&subjectId="+treeNode.id);
		return true;
	};
	function removeHoverDom(treeId, treeNode) {
		jq1_4('#' + treeNode.tId).children('.gcode').remove();
	};
	function beforeRemove(event, treeId, treeNode){
	    return confirm("确认删除节点吗？");
	}
	function onRemove( event,treeNode,treeId){
		var id = treeId.id;
		if(treeNode.isParent){
			alert("当前节点有子节点，不能直接删除!");
		}else{
			$.post('../subject/del',{subjectId:id},function(obj){
				//完成删除动作
			},'json');
		}
	}
	function beforeEditName(treeId, treeNode){
		location.href='/admin/subject/action.do?type=update&subjectId='+treeNode.id;
// 		$.get('/admin/subject/action.do?type=update&subjectId='+treeNode.id);
	}
</script>

<script type="text/javascript">

</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <h3 class="h3tit mt30">主题信息维护</h3>
  <div class="search-sel mt20">
    <div class="search-inp "> <a href="/admin/subject/action.do?type=create" class="btns-gray"><i class="all-icon circle-icon-bule-br"></i>新增主题</a><a id="subsub" href="#" class="btns-gray"><i class="all-icon circle-icon-orage-br"></i>新增子主题</a>
      <input class="form-control inp wd180" type="text" id="searchNodes" placeholder="检索">
<!--       <i class="glyphicon glyphicon-search search-ico"></i> -->
    </div>
  </div>
  <div class="ml-wrap mt20 mb30">
		<div class="top-title">
			<span>主题名称</span><span>子主题名称</span><span style="margin-left: 50px;">主题状态</span>
		</div>
  		<!-- 组织机构树 start -->
		<div class="zTreeDemoBackground left">
			<ul id="officeTree" class="ztree"></ul>
		</div>
		<!-- 组织机构树 end -->
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>