<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.excheck-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exedit-3.5.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.fn.zTree.init(jq1_4("#subjecctTree"), setting);
	});
	var setting = {
		keep: {
			parent: true
		},
		view : {
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : true},
		async : {
			enable : true,
			url : "tree",
			autoParam : [ "id", "name", "level" ],
			dataType : "json"
		},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		$('#' + treeNode.tId).prepend(
				'<span style="position:absolute;left:555px;" class="gcode">'
						+ treeNode.status + '</span>');
		return true;
	};
</script>
<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">
	.ztree .level0{
		margin-left: 0px;
	}
	.ztree li{
		margin-left: 120px;
	}
</style>

<%};%>

<%
var jsPart = {
%>
<script type="text/javascript">

</script>
<%};%>
<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <h3 class="h3tit mt30">主题信息维护</h3>
  <div class="search-sel mt20"> <a class="btns-gray fr" href="javascript:;">导出</a><a class="btns-gray fr" href="javascript:;">导入</a> <a class="btns-gray wd fr" href="javascript:;">导入模块下载</a>
    <div class="search-inp "> <a href="/admin/subject/create.do?type=create" class="btns-gray"><i class="all-icon circle-icon-bule-br"></i>新增主题</a><a href="#" class="btns-gray"><i class="all-icon circle-icon-orage-br"></i>新增子主题</a>
      <input class="form-control inp wd180" type="text" placeholder="检索">
      <i class="glyphicon glyphicon-search search-ico "></i> </div>
  </div>
  <div class="ml-wrap mt20 mb30">    
		<div class="top-title">
			<span>主题名称</span><span>子主题名称</span><span>主题状态</span>
		</div>
  		<!-- 组织机构树 start -->
		<div class="zTreeDemoBackground left">
			<ul id="subjecctTree" class="ztree"></ul>
		</div>
		<!-- 组织机构树 end -->
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>