<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">

</style>
<%};%>


<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">

	//弹出编辑表单
	function sf(row){
		$("#dlg").dialog("open").dialog('setTitle', '维护字典项');
		var fm=$('#fm');
		fm.form('clear');
		fm.form('load', row);
	}
	
	//字典Datagrid
	function dictDg(label,value){
		$('#dict').datagrid({
		    url:'/admin/dict/dictList.do', 
		    fitColumns:true,
		    queryParams: {
		    	parentId:${dict.id},
		    	label:label,
		    	value:value
			},
			toolbar:[{
				iconCls: 'icon-add',
				text:'新建字典项',
				handler:function(){
					newDict();
				}
			}],
			rownumbers:true,
			pagination:true,
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'label',title:'字典项名称',width:220},
		        {field:'value',title:'字典项编码',width:230},
		        {field:'description',title:'备注',width:220},
		        {field:'operator',title:'操作',width:220,align:"center",
		        	formatter:function(value,row,index){
		        		var obj=JSON.stringify(row);
		        		var s = "<a onclick='sf("+obj+");'>编辑</a> ";
	                    return s;
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { label: '<div style="text-align:center;color:red">未找到符合条件的数据！</div>' }).datagrid('mergeCells', { index: 0, field: 'label', colspan: 4 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	            }
		    }
		});
	}
	
	//执行检索
	function search(){
		var label=$.trim($('#lblsrh').val());
		var value=$.trim($('#valsrh').val());
		dictDg(label,value);
	}
	
	//清空检索内容
	function reset(){
		$('#lblsrh').val("");
		$('#valsrh').val("");
	}
	
	//页面初始化加载
	$(document).ready(function(){
		dictDg("","");
	});
	
	 function newDict() {
         $("#dlg").dialog("open").dialog('setTitle', '新建项字典');
         $("#fm").form("clear"); 
         $("#parentId").val(${dict.id});
     }
	 
	 function submit(){
		 $('#fm').submit();
	 }
	 
	 function checkTautonym(obj){
		 if(obj.value){
			 $.get("/admin/dict/dictList",		  
			 	{ label: obj.value },
			  	function(data){
			 		if(data.total!="0"){
				    	alert("名称已经存在，请重新输入！");
				    	obj.focus();
			 		}
			  	}
			 );
		 }
	 }
</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
  <h3 class="h3tit mt30">字典项维护</h3>
  <p class="h3tit mt30" style="text-align: center;margin-top: 10px;">${dict.label}</p>
  <div class="form-list top-search">
    <ul class="li-fl">
      <li>
        <label>字典项名称</label>
        <input id="lblsrh" class="form-control inp noradius " type="text" placeholder="">
      </li>
      <li>
        <label>字典项编码</label>
        <input id="valsrh" class="form-control inp noradius " type="text" placeholder="">
      </li>
      <li>
        <button class="btns mlt30" type="button" onclick="search()">检索</button>
        <input class="nobg mlt10" name="清空" type="reset" value="清空" onclick="reset()">
      </li>
    </ul>
  </div>
  
  <!-- 字典Datagrid -->
  <table id="dict"></table>
  
  <div id="dlg" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px;" closed="true" buttons="#dlg-buttons"> 
       <form id="fm" method="post" method="post" action="/admin/dict/createDict.do"> 
       <div class="fitem" style="margin-bottom: 10px;"> 
       	   <input type="hidden" id="parentId"  name="parentId" value="${dict.id}">
       	   <input type="hidden" id="id" name="id" value="">
           <label>字典项名称：</label> 
           <input name="label" class="easyui-textbox" style="width:200px" onblur="checkTautonym(this)">
       </div> 
       <div class="fitem" style="margin-bottom:10px;" > 
           <label>字典项编码：</label> 
           <input name="value" class="easyui-textbox" style="width:200px">
       </div> 
       <div class="fitem" style="margin-bottom: 10px;"> 
           <label style="margin-right:35px;">备注：</label> 
           <input name="description" class="easyui-textbox" data-options="multiline:true" value="" style="width:200px;height:60px;margin-left:30px;"> 
       </div> 
       <div style="text-align: center;">
			<a href="javascript:submit()" class="easyui-linkbutton" iconCls="icon-ok" style="width:100px;height:32px">提交</a>
		</div>
       </form> 
   </div> 

    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>