body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1011px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:120px;
  width:640px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:120px;
  width:140px;
  height:320px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:320px;
}
#u3 {
  position:absolute;
  left:2px;
  top:152px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:10px;
  width:1001px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:955px;
  top:22px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:310px;
  top:261px;
  width:442px;
  height:39px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:762px;
  top:261px;
  width:69px;
  height:39px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:310px;
  top:235px;
  width:52px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:390px;
  top:235px;
  width:27px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:436px;
  top:235px;
  width:27px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:488px;
  top:235px;
  width:27px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:534px;
  top:235px;
  width:27px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:419px;
  top:174px;
  width:267px;
  height:37px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:37px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:10px;
  top:550px;
  width:1001px;
  height:52px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:52px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:997px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:124px;
  top:140px;
  width:91px;
  height:185px;
}
#u26_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u28 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u31 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u27_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32 {
  position:absolute;
  left:20px;
  top:20px;
  width:66px;
  height:20px;
}
#u33 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u34 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:20px;
  top:40px;
  width:66px;
  height:20px;
}
#u36 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u37 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:60px;
  width:66px;
  height:20px;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:80px;
  width:66px;
  height:20px;
}
#u42 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u45 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u41_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u46 {
  position:absolute;
  left:20px;
  top:20px;
  width:66px;
  height:20px;
}
#u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u48 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:20px;
  top:40px;
  width:66px;
  height:20px;
}
#u50 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u51 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:0px;
  top:100px;
  width:66px;
  height:20px;
}
#u53 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u53_img.selected {
}
#u53.selected {
}
#u54 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u52_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u57 {
  position:absolute;
  left:20px;
  top:20px;
  width:66px;
  height:20px;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:120px;
  width:66px;
  height:20px;
}
#u61 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u61_img.selected {
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u64 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u60_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u65 {
  position:absolute;
  left:20px;
  top:20px;
  width:66px;
  height:20px;
}
#u66 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u67 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:0px;
  top:140px;
  width:66px;
  height:20px;
}
#u69 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u72 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u68_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u73 {
  position:absolute;
  left:20px;
  top:20px;
  width:66px;
  height:20px;
}
#u74 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u75 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:0px;
  top:160px;
  width:66px;
  height:20px;
}
#u77 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u77_img.selected {
}
#u77.selected {
}
#u78 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u80 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u76_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u81 {
  position:absolute;
  left:20px;
  top:20px;
  width:66px;
  height:20px;
}
#u82 {
  position:absolute;
  left:22px;
  top:0px;
  width:44px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u83 {
  position:absolute;
  left:3px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
