<% var cssPart = { %>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<style type="text/css">

</style>
<%};%> 


<% var jsPart = { %>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript">

function checkVal(){
	if($.trim($("#rscName").val())==''){
		alert("资源名称不可为空！");
		return false;
	}
	
	//设置所属业务事项名称
	if($(":radio[name='forOfBusiness']:checked").val()==0){
		$("#ofBusiness").val($(":radio[name='forOfBusiness']:checked").val());
	}else{
		$("#ofBusiness").val($(":radio[name='forOfBusiness']:checked").val()+"-"+$("#forOfBusiness2").val());
	}
	
	var responseParty=$('#responseParty');
	if(responseParty){
		validNum(responseParty);
	}
	
	if($(":radio[name='shareRegion1']:checked").val()=='1'){
		$("#shareRegion").val("1");
	}else{
		var result = "";
	    $("input[name=shareRegion2]:checkbox").each(function () {
	        if ($(this).is(":checked")) {
	            result+=$(this).attr("value")+",";
	        }
	    });
		if(result!=""){
		    $("#shareRegion").val(result);
		}
	}
	
	$('#infoField').val($('#addField').html());
	return true;
}	

$(document).ready(function(){
	
	//编辑时初始化“所属业务事项名称”
	if($("#ofBusiness").val()==0){
		$("input[name=forOfBusiness][value='0']").attr("checked",true);
	}else{
		$("input[name=forOfBusiness][value='1']").attr("checked",true);
		$("#forOfBusiness2").val($("#ofBusiness").val().split("-")[1]);
		$("#ofBusinessDiv").attr("style","display:block");
	}
	
	$("input[name='forOfBusiness']").change(function() {
		var sltval = $("input[name='forOfBusiness']:checked").val();
		if (sltval == 0) {
			$("#ofBusinessDiv").attr("style","display:none");
		} else {
			$("#ofBusinessDiv").attr("style","display:block");
		}
	});
	
	//当点单选按钮时，清除复选项
	$("input[name=shareRegion1]").click(function(){
		$("input[type='checkbox'][name='shareRegion2']").each(function(){
			$(this).attr("checked",false);
		});
 	});
	//当点复选项时，清除单选项
	$("input[name=shareRegion2]").click(function(){
		$("input[name=shareRegion1]").attr("checked",false);
 	});
	
	//编辑时初始化“资源共享范围”值
	var srVal=$("#shareRegion").val();
	if(srVal.indexOf("1")!=-1){
		$("input[name='shareRegion1']").attr("checked",true);
	}else{
		$("input[name='shareRegion2']").each(function(){
			if(srVal){
				var nfs=srVal.split(",");
				for(var nf=0 ;nf< nfs.length;nf++){
					if(nfs[nf]==$(this).attr("value")){
						$(this).attr("checked","checked");
					}
				}		
			}
		});
	}
	
	//编辑时初始化“资源共享方式”值
	$("input[name='shareMode']").each(function(){
		if($("#shareMode").text()){
			var nfs=$("#shareMode").text().split(",");
			for(var nf=0 ;nf< nfs.length;nf++){
				if(nfs[nf]==$(this).attr("value")){
					$(this).attr("checked","checked");
				}
			}		
		}
	});
	
	$('#addField').html($('#infoField').val());
});

//移除信息字段
function removeField(obj){
	$(obj).parent().remove();
}
//增加信息字段
function addField(){
	var sdf='<div style="margin-left:10px;">'+$('#forInfoField').val()+' &nbsp;&nbsp;<a href="javascript:void(0);" onclick="removeField(this)">删除</a></div>'
	$('#addField').append(sdf)
}

function validNum(obj){
	var val=$(obj).val();
    var reg = new RegExp("^[0-9]*$");
    if($.trim(val)){
		if(!reg.test(val)){  
		    alert("请输入数字!");  
		    $(obj).val("").focus();
		}
    }
}
</script>
<%};%>

<% var htmlPart = { %>
<!-- start: MAIN CONTAINER -->
<div class="wrap clearfix" style="margin:110px auto 110px">
	<h2 class="compile-title mt40">资源信息${actionType=="update"?"编辑":actionType=="view"?"查看":"创建"}</h2>
	<span class="imaginary-line"></span>
	<div class="compile-form">
		<form action="/admin/resource/${rsc==null?"createRsc":"updateRsc"}.do" method="post" onsubmit="return checkVal();">
		<%if(rsc!=null){%>
	    <input type="hidden" name="id" value='${rsc.id}'>
	    <%}%>
		<div class="c-formbox">
	        <label class="compile-form-title2 fl">资源名称</label>
			<input id="rscName" class="form-control inp fl c-f-width485" type="text" name="name" placeholder="" value='${rsc==null?"":rsc.name}'>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<input type="hidden" id="ofBusiness" name="ofBusiness" value="${rsc==null?'':rsc.ofBusiness}">
			<label class="compile-form-title2 fl">所属业务事项名称</label>
			<span style="float:left;margin-right: 20px;">
				<label class="has-ico-radio mr20">
					<input type="radio" name="forOfBusiness" value="0" ${rsc==null?'':rsc.ofBusiness == 0?checked="checked":checked=""}>新建业务
				</label>
				<label class="has-ico-radio">
					<input type="radio" name="forOfBusiness" value="1" ${rsc==null?'':rsc.ofBusiness == 1?checked="checked":checked=""}>已有业务
				</label>
			</span>
			<span id="ofBusinessDiv" style="display:none;float:right;">
		      <input id="forOfBusiness2" type="text" placeholder="" style="width: 300px;">
            </span>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源类别</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="type" value="1" id="type_1" ${rsc==null?'':rsc.type == 1?checked="checked":checked=""}>所需材料
			</label>
			<label class="has-ico-radio">
				<input type="radio" name="type" value="2" id="type_2" ${rsc==null?'':rsc.type == 2?checked="checked":checked=""}>生产材料
			</label>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">信息资源编码</label>
			<div class="coding-box c-f-width485 fl">
				<span class="fl b-gray cr-gray"></span>
				<span class="fl">
					<input class="form-control inp coding-width100f" type="text" name="code" placeholder="" value='${rsc==null?"":rsc.code}'>
				</span>
			</div>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源描述</label>
			<textarea class="form-control c-f-width485" rows="3" name="descr">${rsc==null?"":rsc.descr}</textarea>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源责任方</label>
			<input id="responseParty" onblur="validNum(this)" class="form-control inp fl c-f-width485" type="text" name="responseParty" placeholder="" value='${rsc==null?"":rsc.responseParty}'>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">责任方属性</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="responseAttr" value="1" id="responseAttr_1" ${rsc==null?'':rsc.responseAttr == 1?checked="checked":checked=""}>委（局）内
			</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="responseAttr" value="2" id="responseAttr_2" ${rsc==null?'':rsc.responseAttr == 2?checked="checked":checked=""}>委办局
			</label>
			<label class="has-ico-radio">
				<input type="radio" name="responseAttr" value="3" id="responseAttr_3" ${rsc==null?'':rsc.responseAttr == 3?checked="checked":checked=""}>其他
			</label>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox mb0">
			<label class="compile-form-title2 fl">责任方联系方式</label>
			<textarea class="form-control c-f-width485" rows="3" name="responseCu" placeholder="文字说明">${rsc==null?"":rsc.responseCu}</textarea>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源采集途径</label>
			<select class="form-control c-f-width485" name="collectWay">
			  <option value="1" ${rsc==null?'':rsc.collectWay == 1?selected="selected":selected=""}>面向业务对象采集的数据</option>
			  <option value="2" ${rsc==null?'':rsc.collectWay == 2?selected="selected":selected=""}>业务流程产生的数据</option>
			  <option value="3" ${rsc==null?'':rsc.collectWay == 3?selected="selected":selected=""}>综合统计形成的数据</option>
			</select>
		</div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">更新周期</label>
			<input class="form-control inp fl c-f-width485" type="text" name="updateCycle" placeholder=""  value='${rsc==null?"":rsc.updateCycle}'>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源安全级别</label>
			<select class="form-control c-f-width485" name="securityLevel">
			  <option value="1" ${rsc==null?'':rsc.securityLevel == 1?selected="selected":selected=""}>未分级</option>
			  <option value="2" ${rsc==null?'':rsc.securityLevel == 2?selected="selected":selected=""}>内部</option>
			  <option value="3" ${rsc==null?'':rsc.securityLevel == 3?selected="selected":selected=""}>秘密</option>
			  <option value="4" ${rsc==null?'':rsc.securityLevel == 4?selected="selected":selected=""}>机密</option>
			  <option value="5" ${rsc==null?'':rsc.securityLevel == 5?selected="selected":selected=""}>绝密</option>
			</select>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">信息字段</label>
			<input id="infoField" type="hidden" name="infoField" value="${rsc==null?'':rsc.infoField}">
			<div class="add-material c-f-width485 fl">
				<input type="text" id="forInfoField"> &nbsp;&nbsp;&nbsp;<a class="btns-gray mb10 btn-auto" href="javascript:addField();">添加信息字段</a>
				<div id="addField">
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">涉及的数据库支撑</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="isDbSupport" value="1" id="isDbSupport_0" ${rsc==null?'':rsc.isDbSupport == 1?checked="checked":checked=""}>有
			</label>
			<label class="has-ico-radio">
				<input type="radio" name="isDbSupport" value="0" id="isDbSupport_1" ${rsc==null?'':rsc.isDbSupport == 0?checked="checked":checked=""}>无
			</label>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">备注</label>
			<textarea class="form-control c-f-width485" rows="3" name="remarks" placeholder="">${rsc==null?"":rsc.remarks}</textarea>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源共享范围</label>
			<div class="c-f-width485 fl">
				<input type="hidden" name="shareRegion" id="shareRegion" value="${rsc==null?'':rsc.shareRegion}"> 
				<ul class="choosable-box">
					<li>
						<input name="shareRegion1" type="radio" value="1" />所有人员
					</li>
					<li>
						<input name="shareRegion2" type="checkbox" value="2" /> 国家部委
					</li>
					<li>
						<input name="shareRegion2" type="checkbox" value="3" /> 市领导
					</li>
					<li>
						<input name="shareRegion2" type="checkbox" value="4" /> 委办局
					</li>
					<li>
						<input name="shareRegion2" type="checkbox" value="5" /> 委（局）内
					</li>
					<li>
						<input name="shareRegion2" type="checkbox" value="6" /> 本部门专员
					</li>
					<li>
						<input name="shareRegion2" type="checkbox" value="7" /> 其他
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源共享方式</label>
			<div class="c-f-width485 fl">
				<span id="shareMode" style="display:none">${rsc==null?'':rsc.shareMode}</span>
				<ul class="choosable-box">
					<li>
						<input name="shareMode" type="checkbox" value="1" /> 网上发布
					</li>
					<li>
						<input name="shareMode" type="checkbox" value="2" /> 介质交流（纸制报表，电子文档等）
					</li>
					<li>
						<input name="shareMode" type="checkbox" value="3" /> 委（局）内
					</li>
					<li>
						<input name="shareMode" type="checkbox" value="4" /> 系统接口
                    </li>
					<li>
						<input name="shareMode" type="checkbox" value="5" /> 其他
					</li>
				</ul>
			</div>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="btn-box fr mb40">
		<%if(null!=actionType&&actionType=="view"){%>
	    	<a class="btns-gray fl" style="margin-left: 200px;" href="javascript:history.go(-1);">关闭</a>
	    <%}else{%>
			<button class="btns fl mr20 ml-reg" type="submit">保存</button>
			<a class="btns-gray fl" href="javascript:history.go(-1);">取消</a>
		<%}%>
		</div>
		</form>
	</div>
</div>
<!-- end: MAIN CONTAINER -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>
