<% var cssPart = { %>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<style type="text/css">

</style>
<%};%> 


<% var jsPart = { %>
<script type="text/javascript">
	
</script>
<%};%>

<% var htmlPart = { %>
<!-- start: MAIN CONTAINER -->
<div class="wrap clearfix" style="margin:110px auto 110px">
	<h2 class="compile-title mt40">资源信息编辑</h2>
	<span class="imaginary-line"></span>
	<div class="compile-form">
		<form action="/admin/resource/${rsc==null?"createRsc":"updateRsc"}.do" method="post">
		<%if(rsc!=null){%>
	    <input type="hidden" name="id" value='${rsc.id}'>
	    <%}%>
		<div class="c-formbox">
	        <label class="compile-form-title2 fl">资源名称</label>
			<input class="form-control inp fl c-f-width485" type="text" name="name" placeholder="" value='${rsc==null?"":rsc.name}'>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">所属业务事项名称</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="ofBusiness" value="0" id="ofBusiness_0" ${rsc==null?'':rsc.ofBusiness == "0"?checked="checked":checked=""}>新建业务
			</label>
			<label class="has-ico-radio">
				<input type="radio" name="ofBusiness" value="1" id="ofBusiness_1" ${rsc==null?'':rsc.ofBusiness == "1"?checked="checked":checked=""}>已有业务
			</label>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源类别</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="type" value="1" id="type_1" ${rsc==null?'':rsc.type == "1"?checked="checked":checked=""}>所需材料
			</label>
			<label class="has-ico-radio">
				<input type="radio" name="type" value="2" id="type_2" ${rsc==null?'':rsc.type == "2"?checked="checked":checked=""}>生产材料
			</label>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">信息资源编码</label>
			<div class="coding-box c-f-width485 fl">
				<span class="fl b-gray cr-gray"></span>
				<span class="fl">
					<input class="form-control inp coding-width100f" type="text" name="code" placeholder="" value='${rsc==null?"":rsc.code}'>
				</span>
			</div>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源描述</label>
			<textarea class="form-control c-f-width485" rows="3" name="descr">${rsc==null?"":rsc.descr}</textarea>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源责任方</label>
			<input class="form-control inp fl c-f-width485" type="text" name="responseParty" placeholder="" value='${rsc==null?"":rsc.responseParty}'>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">责任方属性</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="responseAttr" value="1" id="responseAttr_1" ${rsc==null?'':rsc.responseAttr == "1"?checked="checked":checked=""}>委（局）内
			</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="responseAttr" value="2" id="responseAttr_2" ${rsc==null?'':rsc.responseAttr == "2"?checked="checked":checked=""}>委办局
			</label>
			<label class="has-ico-radio">
				<input type="radio" name="responseAttr" value="3" id="responseAttr_3" ${rsc==null?'':rsc.responseAttr == "3"?checked="checked":checked=""}>其他
			</label>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox mb0">
			<label class="compile-form-title2 fl">责任方联系方式</label>
			<textarea class="form-control c-f-width485" rows="3" name="responseCu" placeholder="文字说明">${rsc==null?"":rsc.responseCu}</textarea>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源采集途径</label>
			<select class="form-control c-f-width485" name="collectWay">
			  <option value="1" ${rsc==null?'':rsc.collectWay == 1?selected="selected":selected=""}>非行政执法类</option>
			  <option value="2" ${rsc==null?'':rsc.collectWay == 2?selected="selected":selected=""}>2</option>
			  <option value="3" ${rsc==null?'':rsc.collectWay == 3?selected="selected":selected=""}>3</option>
			  <option value="4" ${rsc==null?'':rsc.collectWay == 4?selected="selected":selected=""}>4</option>
			  <option value="5" ${rsc==null?'':rsc.collectWay == 5?selected="selected":selected=""}>5</option>
			</select>
		</div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">更新周期</label>
			<input class="form-control inp fl c-f-width485" type="text" name="updateCycle" placeholder=""  value='${rsc==null?"":rsc.updateCycle}'>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源安全级别</label>
			<select class="form-control c-f-width485" name="securityLevel">
			  <option value="1" ${rsc==null?'':rsc.securityLevel == 1?selected="selected":selected=""}>非行政执法类</option>
			  <option value="2" ${rsc==null?'':rsc.securityLevel == 2?selected="selected":selected=""}>2</option>
			  <option value="3" ${rsc==null?'':rsc.securityLevel == 3?selected="selected":selected=""}>3</option>
			  <option value="4" ${rsc==null?'':rsc.securityLevel == 4?selected="selected":selected=""}>4</option>
			  <option value="5" ${rsc==null?'':rsc.securityLevel == 5?selected="selected":selected=""}>5</option>
			</select>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">信息字段</label>
			<input type="hidden" name="infoField" value="98">
			<div class="add-material c-f-width485 fl">
				<a class="btns-gray fl mb20 btn-auto" href="javascript:;">添加所需材料</a>
				<table class="table table-bordered">
			      <thead>
			        <tr class="active">
			          <th class="tc" width="50">序号</th>
			          <th>字段名称</th>
			          <th width="124">操作</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td class="tc">1</td>
			          <td>Mark</td>
			          <td><a class="mr20" href="javascript:;">修改</a><a href="javascript:;">删除</a></td>
			        </tr>
			      </tbody>
			    </table>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">涉及的数据库支撑</label>
			<label class="has-ico-radio mr20">
				<input type="radio" name="isDbSupport" value="1" id="isDbSupport_0" ${rsc==null?'':rsc.isDbSupport == "1"?checked="checked":checked=""}>有
			</label>
			<label class="has-ico-radio">
				<input type="radio" name="isDbSupport" value="0" id="isDbSupport_1" ${rsc==null?'':rsc.isDbSupport == "0"?checked="checked":checked=""}>无
			</label>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">备注</label>
			<textarea class="form-control c-f-width485" rows="3" name="remarks" placeholder="">${rsc==null?"":rsc.remarks}</textarea>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源共享范围</label>
			<div class="c-f-width485 fl">
				<ul class="choosable-box">
					<!-- <li>
						<span></span><input name="all" type="checkbox" value="" />所有人员
					</li> -->
					<li>
						<input name="shareRegion" type="checkbox" value="1" ${rsc==null?'':rsc.shareRegion == "1"?checked="checked"checked=""}/> 国家部委
					</li>
					<li>
						<input name="shareRegion" type="checkbox" value="2" ${rsc==null?'':rsc.shareRegion == "2"?checked="checked"checked=""}/> 市领导
					</li>
					<li>
						<input name="shareRegion" type="checkbox" value="3" ${rsc==null?'':rsc.shareRegion == "3"?checked="checked"checked=""}/> 委办局
					</li>
					<li>
						<input name="shareRegion" type="checkbox" value="4" ${rsc==null?'':rsc.shareRegion == "4"?checked="checked"checked=""}/> 委（局）内
					</li>
					<li>
						<input name="shareRegion" type="checkbox" value="5" ${rsc==null?'':rsc.shareRegion == "5"?checked="checked"checked=""}/> 本部门专员
					</li>
					<li>
						<input name="shareRegion" type="checkbox" value="6" ${rsc==null?'':rsc.shareRegion == "6"?checked="checked"checked=""}/> 其他
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="c-formbox">
			<label class="compile-form-title2 fl">资源共享范围</label>
			<div class="c-f-width485 fl">
				<ul class="choosable-box">
					<li>
						<input name="shareMode" type="checkbox" value="1" ${rsc==null?'':rsc.shareMode == "1"?checked="checked"checked=""}/> 网上发布
					</li>
					<li>
						<input name="shareMode" type="checkbox" value="2" ${rsc==null?'':rsc.shareMode == "2"?checked="checked"checked=""}/> 介质交流（纸制报表，电子文档等）
					</li>
					<li>
						<input name="shareMode" type="checkbox" value="3" ${rsc==null?'':rsc.shareMode == "3"?checked="checked"checked=""}/> 委（局）内
					</li>
					<li>
						<input name="shareMode" type="checkbox" value="4" ${rsc==null?'':rsc.shareMode == "4"?checked="checked"checked=""}/> 系统接口
                    </li>
					<li>
						<input name="shareMode" type="checkbox" value="5" ${rsc==null?'':rsc.shareMode == "5"?checked="checked"checked=""}/> 其他
					</li>
				</ul>
			</div>
		</div>
		<div class="mb20 clearfix"></div>
		<div class="btn-box fr mb40">
			<a class="btns-gray fl mr20" href="javascript:;">申请注册</a>
			<button class="btns fl mr20 ml-reg" type="submit">保存</button>
			<a class="btns-gray fl" href="javascript:history.go(-1);">取消</a>
		</div>
		</form>
	</div>
</div>
<!-- end: MAIN CONTAINER -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>
