<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting);
	});
	var setting = {
		keep: {
			parent: true
		},
		view : {
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		async : {
			enable : true,
			url : "../office/officeTree",
			autoParam : [ "id", "name", "level" ],
			dataType : "json"
		},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		$.ajax({
			type : 'post',
			async : false,
			url : '../office/office',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$('#officeId').html(treeNode.name);
			}
		});
		return true;
	};
</script>
<% var cssPart = { %>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">

</style>
<%};%> <% var jsPart = { %>
<script type="text/javascript">
	
</script>
<%};%> <% var htmlPart = { %>
<!-- start: MAIN CONTAINER -->
<div class="content">
  <div class="col1">
    <h3 class="h3tit1">资源目录信息</h3>
    <div>
      <input class="form-control noradius wd120" type="text" placeholder="检索">
    </div>
	<!-- 组织机构树 start -->
	<div class="zTreeDemoBackground left">
		<ul id="officeTree" class="ztree"></ul>
	</div>
	<!-- 组织机构树 end -->
  </div>
  <div class="col2">
    <h3 class="h3tit" id="officeId"></h3>
    <table class="table table-hover ntable mt20">
      <thead>
        <tr>
          <th width="100">资源编码</th>
          <th width="110">一级子项名称</th>
          <th width="110">业务所属部门</th>
          <th width="110">资源共享范围</th>
          <th width="100">共享方式</th>
          <th width="80">安全级别</th>
          <th width="200">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>NG845658</td>
          <td>Name File</td>
          <td>市场部</td>
          <td>互联网</td>
          <td>数据传输</td>
          <td>高级</td>
          <td><a href="#">查看</a><a href="#">信息授权</a><a href="">使用申请</a></td>
        </tr>
      </tbody>
    </table>
    <h3 class="h3tit mt20">关联业务</h3>
    <table class="table table-hover ntable mt20">
      <thead>
        <tr>
          <th class="tc" width="50">序号</th>
          <th>业务名称</th>
          <th>业务事项编码</th>
          <th>业务事项分类</th>
          <th>办理依据</th>
          <th>业务所属部门</th>
          <th>共享级别</th>
          <th>共享范围</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tc">1</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">2</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">3</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">4</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">5</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">6</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">7</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">8</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">9</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
        <tr>
          <td class="tc">10</td>
          <td>APPlist diglb</td>
          <td>noioei09</td>
          <td>name file</td>
          <td>业务需求</td>
          <td>市场部</td>
          <td>高级</td>
          <td>互联网</td>
        </tr>
      </tbody>
    </table>
    <div class="page-box">
      <ul class="pagination">
        <li><a class="arrows-left" href="javascript:;" ></a></li>
        <li class="active"><a>1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a class="arrows-right" href="javascript:;"></a></li>
      </ul>
    </div>
    <h3 class="h3tit mt20">所属主题</h3>
    <table class="table table-hover ntable mt20">
      <thead>
        <tr>
          <th class="tc" width="50">序号</th>
          <th>主题名称</th>
          <th>主题描述</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tc">1</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="page-box">
      <ul class="pagination">
        <li><a class="arrows-left" href="javascript:;" ></a></li>
        <li class="active"><a>1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a class="arrows-right" href="javascript:;"></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- end: MAIN CONTAINER -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>
