<% var cssPart = { %>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">

</style>
<%};%> 

<% var jsPart = { %>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.exhide-3.5.js"></script>
<script type="text/javascript" src="/resources/assets/js/ztree-search-nodes.js"></script>
<script type="text/javascript">
	// ready func
	jq1_4(document).ready(function(){
		$.post('../office/tree',function(obj){
			// init tree
			jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting,obj);
		},'json');
		// search nodes
		$('#searchNodes').bind("propertychange", searchNode).bind("input", searchNode);
	});
	var setting = {
		keep: {parent: true},
		view : {selectedMulti : false},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		async : {
			enable : true,
			url : "tree",
			autoParam : [ "id"],
			dataType : "json"
		},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		if(treeNode.type != 'resource'){
			return false;
		}
		$('#officeId').html(treeNode.name);
		rscData(treeNode.id);
		bizData(treeNode.id);
		subData(treeNode.id);
		return true;
	};
</script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">

	//加载资源数据
	function rscData(resourceId){
		$('#rsc').datagrid({
		    url:'/admin/resource/rscList.do', 
		    fitColumns:true,
		    queryParams: {
		    	resourceId:resourceId,
		    	page:1,
		    	rows:1
			},
		    method:"get",		    
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'资源名称',width:80},
		        {field:'type',title:'资源编码',width:100},
		        {field:'basis',title:'一级子项名称',width:120},
		        {field:'chargeOfficeId',title:'业务所属部门',width:110},
		        {field:'shareLevel',title:'资源共享范围',width:90},
		        {field:'shareRegion',title:'共享方式',width:100},
		        {field:'shareRegion',title:'安全级别',width:100},
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
	                    var s = '<a href="/admin/resource/action.do?type=view&id='+row.id+'">查看</a> ';
	                    return s;
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 8 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	            }
		    }
		}); 
	}
	
	//加载业务数据
	function bizData(resourceId){
		$('#bizLink').datagrid({
		    url:'/admin/business/findByRscId.do', 
		    fitColumns:true,
		    queryParams: {
		    	resourceId:resourceId
			},
			pagination:true,
// 		    rownumbers:true,
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'业务事项编码',width:80},
		        {field:'type',title:'业务事项分类',width:100},
		        {field:'basis',title:'办理依据',width:120},
		        {field:'chargeOfficeId',title:'业务所属部门',width:110},
		        {field:'shareLevel',title:'共享级别',width:90},
		        {field:'shareRegion',title:'共享范围',width:100},
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
	                    var s = '<a href="/admin/business/action.do?type=view&id='+row.id+'">查看</a> ';
	                    return s;
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 7 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	            }
		    }
		}); 
	}
	
	//加载主题数据
	function subData(resourceId){
		$('#subLink').datagrid({
		    url:'/admin/subject/getSubListByRscId.do',
		    fitColumns:true,
		    queryParams: {
		    	resourceId:resourceId,
		    	page:1,
		    	rows:1
			},
// 			pagination:true,
// 		    rownumbers:true,
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'主题名称',width:300},
		        {field:'descr',title:'主题描述',width:200},		        
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
	                    var s = '<a href="/admin/subject/action.do?type=view&subjectId='+row.id+'">查看</a> ';
	                    return s;
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 3 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	            }
		    }
		}); 
	}
	
	//页面加载初始化
	$(document).ready(function(){
		rscData(0);
		bizData(0);
		subData(0);
	});
</script>
<%};%> 

<% var htmlPart = { %>
<!-- start: MAIN CONTAINER -->
<div class="content">
  <div class="col1">
    <h3 class="h3tit1">资源目录信息</h3>
    <div>
      <input class="form-control noradius wd120" type="text" id="searchNodes" placeholder="检索">
    </div>
	<!-- 组织机构树 start -->
	<div class="zTreeDemoBackground left">
		<ul id="officeTree" class="ztree"></ul>
	</div>
	<!-- 组织机构树 end -->
  </div>
  <div class="col2">
    <h3 class="h3tit" id="officeId"></h3>
    <table id="rsc"></table>
    
    <h3 class="h3tit mt20">关联业务</h3>
    <table id="bizLink"></table>
    
    <h3 class="h3tit mt20">所属主题</h3>
    <table id="subLink"></table>
    
  </div>
</div>
<!-- end: MAIN CONTAINER -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>
