<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
	
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	//根据id删除资源
	function delRscById(id){
		$.get("/admin/resource/delRsc.do", { id: id },
		    function(data){
		    	if(data=="success"){
		    		alert("删除成功！");
		    		location.reload();
		    	}
		    }
		);
	}
	
	function resetSrc(){
		$("#srcName").val("");
		$("#srcStatus").val("");
	}
	
	//查询
	function getRscList(){
		var srcName=$.trim($("#srcName").val());
		var srcStatus=$.trim($("#srcStatus").val());
		
		$('#dg').datagrid({
		    url:'/admin/resource/rscList.do', 
		    queryParams: {
				name: srcName,
				status: srcStatus
			},
		    pagination:true,
		    checkbox:true,
		    method:"get",
		    rownumbers:true,
		    columns:[[    
				{field:'ck',title:'全选',width:120,checkbox:true},  
				{field:'id',title:'id',width:300,hidden:true}, 
		        {field:'name',title:'资源名称',width:300},    
		        {field:'shareRegion',title:'共享范围',width:200,
		        	formatter:function(value,row,index){
		        		if(value){
			        		var ds=value.replace(1,"国家部委").replace(2,"市领导").replace(3,"委办局").replace(4,"委（局）内")
			        		.replace(5,"本部门专员").replace(6,"其他");
			        		return ds;
		        		}
	            	}
		        },
		        {field:'status',title:'当前状态',width:150,
		        	formatter:function(value,row,index){
		        		if(value){
			        		var ds=value.replace(0,"未注册").replace(1,"注册中").replace(2,"已注册").replace(3,"未通过").replace(4,"删除中");
			        		return ds;
		        		}else{
		        			return "未知";
		        		}
	            	}
		        },
		        {field:'operator',title:'操作',width:220,align:"center",
		        	formatter:function(value,row,index){
		        		var a = '<a href="/admin/resource/action.do?type=view&id='+row.id+'">查看</a> ';
		        		var d = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	                    var s = '<a href="/admin/resource/action.do?type=update&id='+row.id+'">编辑</a> ';
	                    var b = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	                    var c = '<a href="#" onclick="javascript:delRscById('+row.id+');">删除</a>';
	                    return a+d+s+b+c;
		                
		            }
		        }
		    ]]
		}); 
	}
	
	$(document).ready(function(){
		getRscList();
	});
	
	//申请注册
	function applyRegister(){
		var checkedItems = $('#dg').datagrid('getChecked');
		var names = "";
		$.each(checkedItems, function(index, item){
			if(item.status=="0"){
				names=names+item.id+",";
			}
		});  
		if(names!=''){
			$.post("/admin/resource/batchUpdateRsc.do", 
				{ 
					opType: 1, params: names 
				},
			   	function(data){
			     	if(data="success"){
			     		alert("注册申请已提交，请等待审批！");
			     		$('#dg').datagrid('reload');
			     	}
			   	}
			);
		}else{
			alert("请选择需要注册的数据！");
		}
	}
	
	//申请注销
	function applyCancel(){
		var checkedItems = $('#dg').datagrid('getChecked');
		var names = "";
		$.each(checkedItems, function(index, item){
			if(item.status=="2"){
				names=names+item.id+",";
			}
		});  
		if(names!=''){
			$.post("/admin/resource/batchUpdateRsc.do", 
				{ 
					opType: 4, params: names 
				},
			   	function(data){
			     	if(data="success"){
			     		alert("注销申请已提交，请等待审批！");
			     		$('#dg').datagrid('reload');
			     	}
			   	}
			);
		}else{
			alert("请选择需要注销的数据！");
		}
	}
</script>
<%};%>


<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
  <h3 class="h3tit mt30">资源信息维护</h3>
  <div class="form-list top-search">
    <ul class="li-fl">
      <li>
        <label>资源名称</label>
        <input id="srcName" class="form-control inp  " type="text" placeholder="" name="name" value="">
      </li>
      <li class="w-state">
        <label>当前状态</label>
        <select id="srcStatus" class="form-control sels wd148" name="status" >
          <option value="">请选择</option>
          <option value="0">未注册</option>
          <option value="1">注册中</option>
          <option value="2">已注册</option>
          <option value="3">未通过</option>
          <option value="4">删除中</option>
        </select>
      </li>
      <li>
        <button class="btns mlt30" type="button" onclick="getRscList()">检索</button>
        <input class="nobg mlt10" type="reset" value="清空" onclick="resetSrc()">
      </li>
    </ul>
  </div>
  <div class="search-sel"> 
	  <a class="btns-gray" href="/admin/resource/action.do?type=create">新建资源</a> 
	  <a class="btns-gray" href="javascript:applyRegister();">申请注册</a> 
	  <a class="btns-gray" href="javascript:applyCancel();">申请注销</a> 
  </div>
  <!-- datagrid -->
  <table id="dg"> </table>
</div>
<!-- end: MAIN CONTAINER -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>