<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	//查询
	function queryList(){
		var applyName=$.trim($("#applyName").val());
		var applyType=$.trim($("#applyType").val());
		var status=$.trim($("#status").val());
		$('#dg').datagrid({
		    url:'/admin/statistic/applyList', 
		    queryParams: {
		    	applyName : applyName,
		    	applyType : applyType,
		    	status : status
			},
		    pagination:true,
		    method:"post",
		    rownumbers:true,
		    columns:[[    
				{field:'id',title:'id',width:300,hidden:true}, 
		        {field:'applyName',title:'名称',width:300},
		        {field:'applyType',title:'信息类型',width:200,align:"center",
		        	formatter:function(value,row,index){
		        		var tmp = "--";
		        		switch(value){
		        		case 1:
		        			tmp = '机构职责';
		        			break;
		        		case 2:
		        			tmp = '部门岗位';
		        			break;
		        		case 3:
		        			tmp = '业务信息';
		        			break;
		        		case 4:
		        			tmp = '资源信息';
		        			break;
		        		case 5:
		        			tmp = '主题信息';
		        			break;
		        		}
		        		return tmp;
		        	}},
		        {field:'applyFlag',title:'申请状态',width:150,align:"center",
	        		formatter:function(value,row,index){
		    				var tmp = '--';
		    				switch(value){
			        		case '1':
			        			tmp = '注册';
			        			break;
			        		case '2':
			        			tmp = '注销';
			        			break;
			        		}
			        		return tmp;
		    		}
		        },
		        {field:'approveFlag',title:'申请结果',width:150,align:"center",
	        		formatter:function(value,row,index){
		    				var tmp = '--';
		    				switch(value){
			        		case '0':
			        			tmp = '待审批';
			        			break;
			        		case '1':
			        			tmp = '通过';
			        			break;
			        		case '2':
			        			tmp = '未通过';
			        			break;
			        		}
			        		return tmp;
		    		}
		        },
		        {field:'operator',title:'审核意见',width:220,align:"center",
		        	formatter:function(value,row,index){
	//		                    var s = '<a href="/admin/business/action.do?type=update&id='+row.id+'">编辑</a> ';
	//		                    var b = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
	//		                    var c = '<a href="#" onclick="javascript:delBizById('+row.id+');">删除</a>';
	//		                    return s+b+c;
							return '';
		            }
		        }
		    ]]
		}); 
	}
	
	function statbDg(){
		$('#statb').datagrid({
		    url:'/admin/statistic/statb.do',
		    pagination:true,
		    method:"get",
		    rownumbers:true,
		    fitColumns:true,
		    columns:[[
				{field:'region',title:'域',width:300}, 
		        {field:'office',title:'机构',width:300},    
		        {field:'ofcDuty',title:'机构职责',width:300,
	        		formatter:function(value,row,index){
	    				if(value){
	    					return '已注册';
	    				}else{
	    					return '未注册';
	    				}
	    			}		        	
		        },
		        {field:'ofcCount',title:'岗位数',width:150},
		        {field:'bizCount',title:'业务数',width:150},
		        {field:'rscCount',title:'资源数',width:150}
		    ]]
		}); 
	}
	
	$(document).ready(function(){
		queryList();
		statbDg();
	});
</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
   <h3 class="h3tit mt30">信息统计</h3>
   <div class="mt30">当前共有<!-- <a  type="button" class="fr  btns-gray  ">导出</a> --></div>
   <div class="total-txt mt20">
     	<ul>
         	<li>
             	<span><strong>${counts.area}</strong></span>
             	<span>域</span>
             </li>
         	<li>
             	<span><strong>${counts.office}</strong> 个</span>
             	<span>机构</span>
             </li>
         	<li>
             	<span><strong>${counts.job}</strong> 个</span>
             	<span>岗位数</span>
             </li>
         	<li>
             	<span><strong>${counts.business}</strong> 条</span>
             	<span>业务数</span>
             </li>
         	<li>
             	<span><strong>${counts.resource}</strong> 条</span>
             	<span>资源数</span>
             </li>
             <li>
             	<span><strong>${counts.subject}</strong> 条</span>
             	<span>主题数</span>
             </li>
         </ul>
     </div>
        
	 <div class="chart-box mb50 mt20">
        <h3 class="chart-tit">数据传输统计</h3>
        <div class="chart-in">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
		    <div id="main" style="height:400px"></div>
		    <!-- ECharts单文件引入 -->
		    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
		    <script type="text/javascript">
		        // 路径配置
		        require.config({
		            paths: {
		                echarts: 'http://echarts.baidu.com/build/dist'
		            }
		        });
		        
		        // 使用
		        require(
		            [
		                'echarts',
		                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
		            ],
		            function (ec) {
		                // 基于准备好的dom，初始化echarts图表
		                var myChart = ec.init(document.getElementById('main')); 
		                
		                option = {
		                	    tooltip : {
		                	        trigger: 'axis'
		                	    },
		                	    legend: {
		                	        data:['机构','岗位','业务','资源','主题']
		                	    },
		                	    toolbox: {
		                	        show : true,
		                	        feature : {
		                	            mark : {show: false},
		                	            dataView : {show: true, readOnly: true},
		                	            magicType : {show: false, type: ['line']},
		                	            restore : {show: false},
		                	            saveAsImage : {show: true}
		                	        }
		                	    },
		                	    calculable : false,
		                	    xAxis : [
		                	        {
		                	            type : 'category',
		                	            boundaryGap : false,
		                	            data : ['6月','7月','8月','9月','10月','11月','12月']
		                	        }
		                	    ],
		                	    yAxis : [
		                	        {
		                	            type : 'value'
		                	        }
		                	    ],
		                	    series : [
		                	        {
		                	            name:'机构',
		                	            type:'line',
		                	            stack: '总量',
		                	            data:[120, 132, 101, 134, 90, 230, 210]
		                	        },
		                	        {
		                	            name:'岗位',
		                	            type:'line',
		                	            stack: '总量',
		                	            data:[220, 182, 191, 234, 290, 330, 310]
		                	        },
		                	        {
		                	            name:'业务',
		                	            type:'line',
		                	            stack: '总量',
		                	            data:[150, 232, 201, 154, 190, 330, 410]
		                	        },
		                	        {
		                	            name:'资源',
		                	            type:'line',
		                	            stack: '总量',
		                	            data:[320, 332, 301, 334, 390, 330, 320]
		                	        },
		                	        {
		                	            name:'主题',
		                	            type:'line',
		                	            stack: '总量',
		                	            data:[820, 932, 901, 934, 990, 992, 995]
		                	        }
		                	    ]
		                	};
		        
		                // 为echarts对象加载数据 
		                myChart.setOption(option); 
		            }
		        );
		    </script>
        </div>
    </div>
    
    <table id="statb"></table>    
    
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>