<%
var cssPart = {
%>
<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript">


</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
           <h3 class="h3tit mt30">使用申请审批</h3>
           <div class="mt30">当前共有<a  type="button" class="fr  btns-gray  ">导出</a></div>
           <div class="total-txt mt20">
                	<ul>
                    	<li>
                        	<span><strong>34</strong></span>
                        	<span>域</span>
                        </li>
                    	<li>
                        	<span><strong>18964</strong> 个</span>
                        	<span>机构</span>
                        </li>
                    	<li>
                        	<span><strong>20001</strong> 个</span>
                        	<span>岗位数</span>
                        </li>
                    	<li>
                        	<span><strong>10215</strong> 条</span>
                        	<span>业务数</span>
                        </li>
                    	<li>
                        	<span><strong>14215</strong> 万条</span>
                        	<span>资源数</span>
                        </li>
                        <li>
                        	<span><strong>14215</strong> 万条</span>
                        	<span>主题数</span>
                        </li>
                    </ul>
                </div>
                
        	 <div class="chart-box mb50 mt20">
                <h3 class="chart-tit">数据传输统计</h3>
                <div class="chart-in">
                    <img src="images/echart01.png" alt="">
                </div>
            </div>
                
            <table class="table table-hover ntable mt20">
                <thead>
                    <tr>                        
                        <th width="60" class="tc">序号</th>
                        <th>域</th>
                        <th>机构</th>
                        <th width="80">机构职责</th>
                        <th width="110">岗位数</th> 
                        <th width="110">业务数</th>
                        <th width="110">资源数</th>
                    </tr>
                </thead>
                <tbody>                                               
                    <tr>                        
                        <td class="tc">1</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>                   
                    </tr>                                        
                    <tr>
                        <td class="tc">2</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>      
                    </tr>  
                     <tr>
                        <td class="tc">3</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>      
                    </tr>  
                    <tr>
                        <td class="tc">4</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>         
                    </tr>  
                     <tr>
                        <td class="tc">5</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>     
                    </tr>   
                     <tr>
                       <td class="tc">6</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>     
                    </tr>                                                                    
                    <tr>
                        <td class="tc">7</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>    
                    </tr>  
                     <tr>
                       <td class="tc">8</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>    
                    </tr>  
                    <tr>
                       <td class="tc">9</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>    
                    </tr>  
                     <tr>
                       <td class="tc">10</td>
                        <td>Applist diglb</td>
                        <td>name file</td>
                        <td>已注册</td> 
                        <td width="110">12</td>  
                        <td>5666</td>  
                        <td>36</td>     
                    </tr>                         
                </tbody>
            </table>
            <div class="page-box">
                <ul class="pagination">
                    <li><a class="arrows-left" href="javascript:;" ></a></li>
                    <li class="active"><a>1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                     <li><a href="#">10</a></li>
                    <li><a class="arrows-right" href="javascript:;"></a></li>
                </ul>
            </div>
        </div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>