<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	function statbDg(){
		$('#statb').datagrid({
		    url:'/admin/statistic/statb.do',
		    pagination:true,
		    method:"get",
		    rownumbers:true,
		    fitColumns:true,
		    columns:[[
				{field:'demain',title:'域',width:300}, 
		        {field:'officeName',title:'机构',width:300},    
		        {field:'duty',title:'机构职责',width:300,
	        		formatter:function(value,row,index){
	    				if(value){
	    					return '已注册';
	    				}else{
	    					return '未注册';
	    				}
	    			}		        	
		        },
		        {field:'jCount',title:'岗位数',width:150},
		        {field:'bCount',title:'业务数',width:150},
		        {field:'rCount',title:'资源数',width:150}
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { demain: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'demain', colspan: 6 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	            }
		    }
		}); 
	}
	
	$(document).ready(function(){
		statbDg();
	});
</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
   <h3 class="h3tit mt30">信息统计</h3>
   <div class="mt30">当前共有<!-- <a  type="button" class="fr  btns-gray  ">导出</a> --></div>
   <div class="total-txt mt20">
     	<ul>
         	<li>
             	<span><strong>${counts.area}</strong></span>
             	<span>域</span>
             </li>
         	<li>
             	<span><strong>${counts.office}</strong> 个</span>
             	<span>机构</span>
             </li>
         	<li>
             	<span><strong>${counts.job}</strong> 个</span>
             	<span>岗位数</span>
             </li>
         	<li>
             	<span><strong>${counts.business}</strong> 条</span>
             	<span>业务数</span>
             </li>
         	<li>
             	<span><strong>${counts.resource}</strong> 条</span>
             	<span>资源数</span>
             </li>
             <li>
             	<span><strong>${counts.subject}</strong> 条</span>
             	<span>主题数</span>
             </li>
         </ul>
     </div>
        
	 <div class="chart-box mb50 mt20">
        <h3 class="chart-tit">数据增长统计</h3>
        <div class="chart-in">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
		    <div id="main" style="height:400px"></div>
		    <!-- ECharts单文件引入 -->
		    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
		    <script type="text/javascript">
		        // 路径配置
		        require.config({
		            paths: {
		                echarts: 'http://echarts.baidu.com/build/dist'
		            }
		        });
		        
		        // 使用
		        require(
		            [
		                'echarts',
		                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
		            ],
		            function (ec) {
		                // 基于准备好的dom，初始化echarts图表
		                var myChart = ec.init(document.getElementById('main')); 
		                
		                option = {
		                	    tooltip : {
		                	        trigger: 'axis'
		                	    },
		                	    legend: {
		                	        data:${legend_data}
		                	    },
		                	    toolbox: {
		                	        show : true,
		                	        feature : {
		                	            mark : {show: false},
		                	            dataView : {show: false, readOnly: true},
		                	            magicType : {show: false, type: ['line']},
		                	            restore : {show: false},
		                	            saveAsImage : {show: true}
		                	        }
		                	    },
		                	    calculable : true,
		                	    xAxis : [
		                	        {
		                	            type : 'category',
		                	            boundaryGap : false,
		                	            data : ${xAxis_data}
		                	        }
		                	    ],
		                	    yAxis : [
		                	        {
		                	            type : 'value'
		                	        }
		                	    ],
		                	    series : [
		                	        ${data}
		                	    ]
		                	};
		        
		                // 为echarts对象加载数据 
		                myChart.setOption(option); 
		            }
		        );
		    </script>
        </div>
    </div>
    
    <table id="statb"></table>    
    
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>