<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>
<script type="text/javascript">

</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
    <h3 class="h3tit mt30">检索统计</h3>
    <div class="chart-box mb50 mt20">
    <h3 class="chart-tit">检索量</h3>
    <div class="chart-in chart-in2">
    	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	    <div id="main" style="height:400px"></div>
	    <!-- ECharts单文件引入 -->
	    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
	    <script type="text/javascript">
	        // 路径配置
	        require.config({
	            paths: {
	                echarts: 'http://echarts.baidu.com/build/dist'
	            }
	        });
	        
	        // 使用
	        require(
	            [
	                'echarts',
	                'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
	            ],
	            function (ec) {
	                // 基于准备好的dom，初始化echarts图表
	                var myChart = ec.init(document.getElementById('main')); 
	                
	                option = {
                	    tooltip : {
                	        trigger: 'axis'
                	    },
                	    legend: {
                	        data:['机构','岗位','业务','资源','主题']
                	    },
                	    toolbox: {
                	        show : true,
                	        feature : {
                	            mark : {show: false},
                	            dataView : {show: false, readOnly: true},
                	            magicType : {show: false, type: ['line']},
                	            restore : {show: false},
                	            saveAsImage : {show: true}
                	        }
                	    },
                	    calculable : false,
                	    xAxis : [
                	        {
                	            type : 'category',
                	            boundaryGap : false,
                	            data : ['6月','7月','8月','9月','10月','11月','12月']
                	        }
                	    ],
                	    yAxis : [
                	        {
                	            type : 'value'
                	        }
                	    ],
                	    series : [
                	        {
                	            name:'机构',
                	            type:'line',
                	            stack: '总量',
                	            data:[120, 132, 101, 134, 90, 230, 210]
                	        },
                	        {
                	            name:'岗位',
                	            type:'line',
                	            stack: '总量',
                	            data:[220, 182, 191, 234, 290, 330, 310]
                	        },
                	        {
                	            name:'业务',
                	            type:'line',
                	            stack: '总量',
                	            data:[150, 232, 201, 154, 190, 330, 410]
                	        },
                	        {
                	            name:'资源',
                	            type:'line',
                	            stack: '总量',
                	            data:[320, 332, 301, 334, 390, 330, 320]
                	        },
                	        {
                	            name:'主题',
                	            type:'line',
                	            stack: '总量',
                	            data:[820, 932, 901, 934, 990, 992, 995]
                	        }
                	    ]
                	};
	        
	                // 为echarts对象加载数据 
	                myChart.setOption(option); 
	            }
	        );
	    </script>
    </div>
  </div>
          <ul class = "hot-area ">
    <li class = "chart-l mt20">
              <div class = "text-area">
        <p><span><span class = "fs30">T</span>OP10</span> 热词排行</p>
        <ul  class = "time-option">
                  <li><a>本周</a></li>
                  <li><a>本月</a></li>
                  <li><a>本年</a></li>
                </ul>
      </div>
              <ul class = "img-area-l">
        <li>大数据</li>
        <li>北京交通</li>
        <li>雾霾数据</li>
        <li>财政</li>
        <li>环保</li>
        <li>福利</li>
        <li>民生</li>
        <li>计划生育</li>
        <li>科技</li>
        <li>注册</li>
      </ul>
            </li>
    <li class = "chart-r mt20">
              <div class = "text-area">
        <p><span><span class = "fs30">T</span>OP10</span> 热门机构</p>
        <ul class = "time-option">
                  <li><a>本周</a></li>
                  <li><a>本月</a></li>
                  <li><a>本年</a></li>
                </ul>
      </div>
              <ul class = "img-area-r">
        <li>大数据</li>
        <li>北京交通</li>
        <li>雾霾数据</li>
        <li>财政</li>
        <li>环保</li>
        <li>福利</li>
        <li>民生</li>
        <li>计划生育</li>
        <li>科技</li>
        <li>注册</li>
      </ul>
            </li>
  </ul>
        </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>