<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript">

function getHotword(type){
	$.getJSON("/admin/srh/hotwords.do",{type:type},function(data){
		 var innerHtml="";
		 $.each(data, function(i,item){
			innerHtml+="<li>"+item.keyword+"</li>";
		 });
		 $("#hotwords").html(innerHtml);
	});
}

function getHotOffice(type){
	$.getJSON("/admin/srh/hotOffices.do",{type:"week"},function(data){
		 var innerHtml="";
		 $.each(data, function(i,item){
			innerHtml+="<li>"+item.officeName+"</li>";
		 });
		 $("#hotOffices").html(innerHtml);
	});
}

$(document).ready(function(){
	getHotword("week");
	getHotOffice("week");
});


</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
    <h3 class="h3tit mt30">检索统计</h3>
    <div class="chart-box mb50 mt20">
    <h3 class="chart-tit">检索量</h3>
    <div class="chart-in chart-in2">
    	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	    <div id="main" style="height:400px"></div>
	    <!-- ECharts单文件引入 -->
	    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
	    <script type="text/javascript">
	        // 路径配置
	        require.config({
	            paths: {
	                echarts: 'http://echarts.baidu.com/build/dist/'
	            }
	        });
	        
	        // 使用
	        require(
	            [
	                'echarts',
	                'echarts/chart/line' // 使用柱状图就加载line模块，按需加载
	            ],
	            function (ec) {
	                // 基于准备好的dom，初始化echarts图表
	                var myChart = ec.init(document.getElementById('main')); 
	                
	                option = {
                	    tooltip : {
                	        trigger: 'axis'
                	    },
                	    legend: {
                	        data:${legend_data}
                	    },
                	    toolbox: {
                	        show : true,
                	        feature : {
                	            mark : {show: false},
                	            dataView : {show: false, readOnly: true},
                	            magicType : {show: false, type: ['line']},
                	            restore : {show: false},
                	            saveAsImage : {show: true}
                	        }
                	    },
                	    calculable : false,
                	    xAxis : [
                	        {
                	            type : 'category',
                	            boundaryGap : false,
                	            data : ${xAxis_data}
                	        }
                	    ],
                	    yAxis : [
                	        {
                	            type : 'value'
                	        }
                	    ],
                	    series : [
                	        ${data}
                	    ]
                	};
	        
	                // 为echarts对象加载数据 
	                myChart.setOption(option); 
	            }
	        );
	    </script>
    </div>
  </div>
  <ul class = "hot-area ">
    <li class = "chart-l mt20">
      <div class = "text-area">
        <p><span><span class = "fs30">T</span>OP10</span> 热词排行</p>
        <ul  class = "time-option">
          <li><a href="javascript:getHotword('week');">本周</a></li>
          <li><a href="javascript:getHotword('month');">本月</a></li>
          <li><a href="javascript:getHotword('year');">本年</a></li>
        </ul>
      </div>
      <ul class = "img-area-l" id="hotwords"></ul>
    </li>
    <li class = "chart-r mt20">
      <div class = "text-area">
        <p><span><span class = "fs30">T</span>OP10</span> 热门机构</p>
        <ul class = "time-option">
          <li><a href="javascript:getHotOffice('week');">本周</a></li>
          <li><a href="javascript:getHotOffice('month');">本月</a></li>
          <li><a href="javascript:getHotOffice('year');">本年</a></li>
        </ul>
      </div>
      <ul class = "img-area-r" id="hotOffices"></ul>
    </li>
  </ul>
 </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>