<%
var cssPart = {
%>
<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript">


</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="content">
          <h3 class="h3tit mt30">检索统计</h3>
          <div class="chart-box mb50 mt20">
    <h3 class="chart-tit">检索量</h3>
    <div class="chart-in chart-in2"> <img src="images/echart01.png" alt=""> </div>
  </div>
          <ul class = "hot-area ">
    <li class = "chart-l mt20">
              <div class = "text-area">
        <p><span><span class = "fs30">T</span>OP10</span> 热词排行</p>
        <ul  class = "time-option">
                  <li><a>本周</a></li>
                  <li><a>本月</a></li>
                  <li><a>本年</a></li>
                </ul>
      </div>
              <ul class = "img-area-l">
        <li>大数据</li>
        <li>北京交通</li>
        <li>雾霾数据</li>
        <li>财政</li>
        <li>环保</li>
        <li>福利</li>
        <li>民生</li>
        <li>计划生育</li>
        <li>科技</li>
        <li>注册</li>
      </ul>
            </li>
    <li class = "chart-r mt20">
              <div class = "text-area">
        <p><span><span class = "fs30">T</span>OP10</span> 热门机构</p>
        <ul class = "time-option">
                  <li><a>本周</a></li>
                  <li><a>本月</a></li>
                  <li><a>本年</a></li>
                </ul>
      </div>
              <ul class = "img-area-r">
        <li>大数据</li>
        <li>北京交通</li>
        <li>雾霾数据</li>
        <li>财政</li>
        <li>环保</li>
        <li>福利</li>
        <li>民生</li>
        <li>计划生育</li>
        <li>科技</li>
        <li>注册</li>
      </ul>
            </li>
  </ul>
        </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>