<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<link rel="stylesheet" href="/resources/assets/plugins/ztree/css/metroStyle/metroStyle.css" type="text/css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
	var jq1_4 = $.noConflict(true);
</script>
<script type="text/javascript" src="/resources/assets/plugins/ztree/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript">
	//ready func
	jq1_4(document).ready(function(){
		// init tree
		jq1_4.fn.zTree.init(jq1_4("#officeTree"), setting);
	});
	var setting = {
		keep: {
			parent: true
		},
		view : {
			selectedMulti : false
		},
		data : {simpleData : {enable : true}},
		edit : {enable : false},
		async : {
			enable : true,
			url : "../office/officeTree",
			autoParam : [ "id", "name", "level" ],
			dataType : "json"
		},
		callback : {
			onClick : onClick
		}
	};
	function onClick(event, treeId, treeNode) {
		$.ajax({
			type : 'post',
			async : false,
			url : '../office/office',
			data : {
				'officeId' : treeNode.id
			},
			dataType : 'json',
			success : function(obj) {
				$('#officeId').html(treeNode.name);
				bizData(treeNode.id);
				rscData(treeNode.id);
				subData(treeNode.id);
			}
		});
		return true;
	};
</script>

<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">

	//业务数据加载
	function bizData(businessId){
		$('#biz').datagrid({
		    url:'/admin/business/bizList.do', 
		    queryParams: {
		    	businessId:businessId
			},
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'业务事项编码',width:80},
		        {field:'type',title:'业务事项分类',width:100},
		        {field:'basis',title:'办理依据',width:120},
		        {field:'chargeOfficeId',title:'业务所属部门',width:110},
		        {field:'shareLevel',title:'共享级别',width:90},
		        {field:'shareRegion',title:'共享范围',width:100},
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
	                    var s = '<a href="/admin/business/action.do?type=update&subjectId='+row.id+'">查看</a> ';
	                    return s;
		            }
		        }
		    ]]
		}); 
	}
	
	//资源数据加载
	function rscData(businessId){
		$('#rscLink').datagrid({
		    url:'/admin/resource/getListByBizId.do', 
		    queryParams: {
		    	businessId:businessId
			},
		    method:"get",
		    pagination:true,
		    rownumbers:true,
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'资源名称',width:80},
		        {field:'type',title:'资源编码',width:100},
		        {field:'basis',title:'一级子项名称',width:120},
		        {field:'chargeOfficeId',title:'业务所属部门',width:110},
		        {field:'shareLevel',title:'资源共享范围',width:90},
		        {field:'shareRegion',title:'共享方式',width:100},
		        {field:'shareRegion',title:'安全级别',width:100},
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
	                    var s = '<a href="/admin/business/action.do?type=update&subjectId='+row.id+'">查看</a> ';
	                    return s;
		            }
		        }
		    ]]
		}); 
	}
	
	//主题数据加载
	function subData(businessId){
		$('#subLink').datagrid({
		    url:'/admin/subject/getSubListByBizId.do', 
		    queryParams: {
				businessId:businessId
			},
		    method:"get",
		    columns:[[    
				{field:'id',title:'id',hidden:true},
		        {field:'name',title:'主题名称',width:300},
		        {field:'descr',title:'主题描述',width:200},		        
		        {field:'operator',title:'操作',width:120,align:"center",
		        	formatter:function(value,row,index){
	                    var s = '<a href="/admin/business/action.do?type=update&subjectId='+row.id+'">查看</a> ';
	                    return s;
		            }
		        }
		    ]]
		}); 
	}
	
	//页面初始化加载数据
	$(document).ready(function(){
		bizData(0);
		rscData(0);
		subData(0);
	});
</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
  <div class="col1">
    <h3 class="h3tit1">业务目录信息</h3>
    <div>
      <input class="form-control noradius wd120" type="text" placeholder="检索">
    </div>
	<!-- 组织机构树 start -->
	<div class="zTreeDemoBackground left">
		<ul id="officeTree" class="ztree"></ul>
	</div>
	<!-- 组织机构树 end -->
  </div>
  <div class="col2">
  
    <h3 class="h3tit" id="officeId"></h3>
    <table id="biz"></table>
  
    <h3 class="h3tit mt20">关联资源</h3>
    <table id="rscLink"></table>
 
    <h3 class="h3tit mt20">所属主题</h3>
    <table id="subLink"></table>
   
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>