<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">

<style type="text/css">

</style>

<%};%>

<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript">

function checkVal(){
	//设置业务事件分类值
	$("#type").val($("#forType1").val()+"-"+$("#forType2").val());
	//设置业务事项办理依据
	if($(":radio[name='forBasis']:checked").val()==0){
		$("#basis").val($(":radio[name='forBasis']:checked").val());
	}else{
		var str="";
		$("input[name=forBasis2]:checked").each(function(){ 
			str+=$(this).val()+",";  
		});  
		$("#basis").val($(":radio[name='forBasis']:checked").val()+"-"+str);
	}
	//设置业务量/工作量
	if($(":radio[name='forWorkload']:checked").val()==0){
		$("#workload").val($(":radio[name='forWorkload']:checked").val());
	}else{
		$("#workload").val($(":radio[name='forWorkload']:checked").val()+"-"+$("#forWorkload2").val());
	}
	//设置业务事项办理涉及的其他相关单位
	if($(":radio[name='forRelateOffice']:checked").val()==0){
		$("#relateOffice").val($(":radio[name='forRelateOffice']:checked").val());
	}else{
		var str="";
		$("input[name=forRelateOffice2]:checked").each(function(){ 
			str+=$(this).val()+",";  
		});
		$("#relateOffice").val($(":radio[name='forRelateOffice']:checked").val()+"-"+str);
	}
	//设置业务事项应用系统
	if($(":radio[name='forIsUse']:checked").val()==0){
		$("#isUse").val($(":radio[name='forIsUse']:checked").val());
	}else{
		$("#isUse").val($(":radio[name='forIsUse']:checked").val()+"-"+$("#forIsUse2").val());
	}
	return true;
}

$(document).ready(function(){
	
	//编辑时初始化“业务事项名称填写依据”值
	$("input[name='nameRef']").each(function(){
		if($("#nameRef").text()){
			var nfs=$("#nameRef").text().split(",");
			for(var nf=0 ;nf< nfs.length;nf++){
				if(nfs[nf]==$(this).attr("value")){
					$(this).attr("checked","checked");
				}
			}		
		}
	});
	
	//编辑时初始化“业务事项分类”
	var types=$("#type").val().split("-");
	$("#forType1 option[value='"+types[0]+"']").attr("selected","selected");
	$("#forType2 option[value='"+types[1]+"']").attr("selected","selected");
	
	//编辑时初始化“业务事项办理依据”
	if($("#basis").val()==0){
		$("input[name=forBasis][value='0']").attr("checked",true);
	}else{
		var basis=$("#basis").val().split("-");
		$("input[name=forBasis][value='1']").attr("checked",true);
		var wr= $("#basis").val().split("-")[1].split(",");
		$("input[name='forBasis2']").each(function(){
			for(var nf=0 ;nf< wr.length;nf++){
				if(wr[nf]==$(this).attr("value")){
					$(this).attr("checked","checked");
				}
			}		
		});
	}
	
	//编辑时初始化“业务量/工作量”
	if($("#workload").val()==0){
		$("input[name=forWorkload][value='0']").attr("checked",true);
	}else{
		$("input[name=forWorkload][value='1']").attr("checked",true);
		$("#forWorkload2").val($("#workload").val().split("-")[1]);
	}
	
	//编辑时初始化“业务事项办理涉及的其他相关单位”
	if($("#relateOffice").val()==0){
		$("input[name=forRelateOffice][value='0']").attr("checked",true);
	}else{
		var basis=$("#basis").val().split("-");
		$("input[name=forRelateOffice][value='1']").attr("checked",true);
		var wr= $("#relateOffice").val().split("-")[1].split(",");
		$("input[name='forRelateOffice2']").each(function(){
			for(var nf=0 ;nf< wr.length;nf++){
				if(wr[nf]==$(this).attr("value")){
					$(this).attr("checked","checked");
				}
			}		
		});
	}
	
	//编辑时初始化“业务事项应用系统”
	if($("#isUse").val()==0){
		$("input[name=forIsUse][value='0']").attr("checked",true);
	}else{
		$("input[name=forIsUse][value='1']").attr("checked",true);
		$("#forIsUse2").text($("#isUse").val().split("-")[1]);
	}
	
	//编辑时初始化"资源共享范围"值
	$("input[name='shareWith']").each(function(){
		if($("#shareWith").text()){
			var nfs=$("#shareWith").text().split(",");
			for(var nf=0 ;nf< nfs.length;nf++){
				if(nfs[nf]==$(this).attr("value")){
					$(this).attr("checked","checked");
				}
			}
		}
	});
	
});


</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
	<span id="nameRef" style="display:none;">${business==null?"":business.nameRef}</span>
	<span id="shareWith" style="display:none;">${business==null?"":business.shareWith}</span>
  <h2 class="compile-title mt40">业务信息${actionType=="update"?"编辑":actionType=="view"?"查看":"创建"}</h2>
  <span class="imaginary-line"></span>
  <div class="compile-form">
  	<form action='/admin/business/${business==null?"createBiz":"updateBiz"}.do' method="post" onsubmit="return checkVal();">
    <%if(business!=null){%>
    <input type="hidden" name="id" value='${business.id}'>
    <%}%>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项名称</label>
      <input class="form-control inp fl c-f-width485" type="text" name="name" placeholder="" value='${business==null?"":business.name}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项名称填写依据</label>
      <div class="c-f-width485 fl">
        <ul class="choosable-box">
          <li> <input name="nameRef" type="checkbox" value="1" /> “三定方案”中的核心业务 </li>
          <li> <input name="nameRef" type="checkbox" value="2" /> 行政审批、行政许可事项 </li>
          <li> <input name="nameRef" type="checkbox" value="3" /> 委办局党组决定事项 </li>
          <li> <input name="nameRef" type="checkbox" value="4" /> 可共享的科技信息资源 </li>
          <li> <input name="nameRef" type="checkbox" value="5" /> 单位日常工作 </li>
        </ul>
      </div>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">一级子项名称</label>
      <input class="form-control inp fl c-f-width485" type="text" name="firstName" placeholder="" value='${business==null?"":business.firstName}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">二级子项名称</label>
      <input class="form-control inp fl c-f-width485" type="text" name="secondName" placeholder="" value='${business==null?"":business.secondName}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">三级子项名称</label>
      <input class="form-control inp fl c-f-width485" type="text" name="thirdName" placeholder="" value='${business==null?"":business.secondName}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项编码</label>
      <input class="form-control inp fl c-f-width485" type="text" name="code" placeholder="" value='${business==null?"":business.code}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
    	<input id="type" type="hidden" name="type" value='${business==null?"":business.type}'>
      <label class="compile-form-title2 fl">业务事项分类</label>
      <select id="forType1" class="form-control width232 fl mr20" >
        <option value="1" >非行政执法类</option>
        <option value="2" >2</option>
        <option value="3" >3</option>
        <option value="4" >4</option>
        <option value="5" >5</option>
      </select>
      <select id="forType2" class="form-control width232 fl" >
        <option value="1" >公共服务</option>
        <option value="2" >2</option>
        <option value="3" selected="selected">3</option>
        <option value="4" >4</option>
        <option value="5" >5</option>
      </select>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项办理依据</label>
      <div class="mb10">
      	<input id="basis" type="hidden" name="basis" value="${business==null?'':business.basis}">
        <label class="has-ico-radio mr20"> 
          <input type="radio" value="1" name="forBasis" > 有
        </label>
        <label class="has-ico-radio"> 
          <input type="radio" value="0" name="forBasis" > 无
        </label>
      </div>
      <div class="c-f-width485 fr">
        <ul class="choosable-box">
          <li> <input name="forBasis2" type="checkbox" value="1" /> 国家相关规定 </li>
          <li> <input name="forBasis2" type="checkbox" value="2" /> 市委、市政府相关规定 </li>
          <li> <input name="forBasis2" type="checkbox" value="3" /> 国家部委相关规定 </li>
          <li> <input name="forBasis2" type="checkbox" value="4" /> 本单位相关规定 </li>
        </ul>
      </div>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项办理流程</label>
      <textarea class="form-control c-f-width485" rows="3" name="flow" placeholder="文字说明" >${business==null?"":business.flow}</textarea>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项简述</label>
      <textarea class="form-control c-f-width485" rows="3" name="summary" placeholder="">${business==null?"":business.summary}</textarea>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">总时限</label>
      <input class="form-control inp fl c-f-width485" type="text" name="timeLimit" placeholder=""  value='${business==null?"":business.timeLimit}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">收费依据</label>
      <textarea class="form-control c-f-width485" rows="3" name="chargeBasis" placeholder="" >${business==null?"":business.chargeBasis}</textarea>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项主管单位</label>
      <input class="form-control inp fl c-f-width485" type="text" name="chargeOfficeId" placeholder="" value='${business==null?"":business.chargeOfficeId}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项实施单位</label>
      <input class="form-control inp fl c-f-width485" type="text" name="implOfficeId" placeholder="" value='${business==null?"":business.implOfficeId}'>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务量/工作量</label>
      <div class="fr">
        <div class="mb10">
        	<input type="hidden" id="workload" name="workload" value="${business==null?'':business.workload}">
          <label class="has-ico-radio mr20"> 
            <input type="radio" name="forWorkload" value="1" id="workload_1" > 有
          </label>
          <label class="has-ico-radio"> 
            <input type="radio" name="forWorkload" value="0" id="workload_0" > 无
          </label>
        </div>
        <input class="form-control inp fl width300 mr20" id="forWorkload2" type="text" placeholder="">
        <!-- <select class="form-control width160 fl" name="forWorkload">
          <option value="1" >公共服务</option>
          <option value="2" >2</option>
          <option value="3" >3</option>
          <option value="4" >4</option>
          <option value="5" >5</option>
        </select> -->
      </div>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项办理涉及的其他相关单位</label>
      <div class="mb10">
      	<input type="hidden" id="relateOffice" name="relateOffice" value="${business==null?'':business.relateOffice}">
        <label class="has-ico-radio mr20"> 
          <input type="radio" name="forRelateOffice" value="1" id="relateOffice_1" > 有
        </label>
        <label class="has-ico-radio"> 
          <input type="radio" name="forRelateOffice" value="0" id="relateOffice_0" > 无
        </label>
      </div>
      <div class="c-f-width485 fr">
        <ul class="choosable-box">
          <li> <input name="forRelateOffice2" type="checkbox" value="1" /> 国家部委 </li>
          <li> <input name="forRelateOffice2" type="checkbox" value="2" /> 市委、市政府相关委办局 </li>
          <li> <input name="forRelateOffice2" type="checkbox" value="3" /> 委（局）内处室、直属单位 </li>
        </ul>
      </div>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项产生材料</label>
      <input type="hidden" name="needData" value="业务事项所需材料">
      <div class="add-material c-f-width485 fl"> <a class="btns-gray btn-auto fl mb20" href="javascript:;">添加所需材料</a>
        <table class="table table-bordered">
          <thead>
            <tr class="active">
              <th class="tc" width="50">序号</th>
              <th>字段名称</th>
              <th width="118">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tc">1</td>
              <td>Mark</td>
              <td class="operation-box"><span class="fl">编辑</span> <span class="fl">删除</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项产生材料</label>
      <input type="hidden" name="produceData" value="">
      <div class="add-material c-f-width485 fl"> <a class="btns-gray btn-auto mb10" href="javascript:;">添加生产材料</a>
        <div>暂无数据</div>
      </div>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">业务事项应用系统</label>
      <div class="mb10">
      	<input type="hidden" id="isUse" name="isUse" value="${business==null?'':business.isUse}">
        <label class="has-ico-radio mr20"> 
          <input type="radio" name="forIsUse" value="1" > 有
        </label>
        <label class="has-ico-radio"> 
          <input type="radio" name="forIsUse" value="0" > 无
        </label>
      </div>
      <div class="c-f-width485 fr">
        <textarea id="forIsUse2" class="form-control c-f-width485" rows="3" name="forIsUse2" placeholder="备注" ></textarea>
      </div>
    </div>
    <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">资源共享范围</label>
      <div class="c-f-width485 fl">
        <ul class="choosable-box">
          <li> <input name="shareWith" type="checkbox" value="1" /> 所有人员 </li>
          <li> <input name="shareWith" type="checkbox" value="2" /> 国家部委 </li>
          <li> <input name="shareWith" type="checkbox" value="3" /> 市领导 </li>
          <li> <input name="shareWith" type="checkbox" value="4" /> 委办局 </li>
          <li> <input name="shareWith" type="checkbox" value="5" /> 委（局）内 </li>
          <li> <input name="shareWith" type="checkbox" value="6" /> 本部门专员 </li>
          <li> <input name="shareWith" type="checkbox" value="7" /> 其他 </li>
        </ul>
      </div>
    </div>
    <!-- <div class="mb20 clearfix"></div>
    <div class="c-formbox">
      <label class="compile-form-title2 fl">是否可以申请共享</label>
      <div class="c-f-width485 fl">
        <ul class="choosable-box">
          <li> <input type="radio" name="applyShare" value="1" id="applyShare_1"> 可申请 </li>
          <li> <input type="radio" name="applyShare" value="0" id="applyShare_0"> 不可申请 </li>
        </ul>
      </div>
    </div> -->
    <div class="mb20 clearfix"></div>
    <div class="btn-box fr mb40">
    <%if(null!=actionType&&actionType=="view"){%>
    	<a class="btns-gray fl" style="margin-left: 200px;" href="javascript:history.go(-1);">关闭</a>
    <%}else{%>
      <a class="btns-gray fl mr20" href="javascript:;">申请注册</a> 
      <button class="btns fl mr20 ml-reg" type="submit">保存</button>
      <a class="btns-gray fl" href="javascript:history.go(-1);">取消</a> 
    <%}%>
    </div>
    </form>  
  </div>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>