<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">

<style type="text/css">

</style>
<%};%>


<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
	//根据id删除业务
	function delBizById(id){
		$.get("/admin/business/delBiz.do", { id: id },
	    function(data){
	    	if(data=="success"){
	    		alert("删除成功！");
	    		location.reload();
	    	}
	    });
	}
	
	function resetBiz(){
		$("#bizName").val("");
		$("#bizStatus").val("");
		getBizList();
	}
	
	//输入框回车事件
	$('#bizName').bind('keypress',function(event){
            if(event.keyCode == "13"){
            	getBizList();
            }
     });
	//下拉框change事件
	$("#bizStatus").on("change",function(){
		getBizList();
	});
	
	//查询
	function getBizList(){
		var bizName=$.trim($("#bizName").val());
		var bizStatus=$.trim($("#bizStatus").val());
		
		$('#dg').datagrid({
		    url:'/admin/business/bizList.do', 
		    queryParams: {
				name: bizName,
				status: bizStatus
			},
		    pagination:true,
		    checkbox:true,
		    method:"get",
		    rownumbers:true,
		    fitColumns:true,
		    columns:[[    
				{field:'ck',title:'全选',width:120,checkbox:true},
				{field:'id',title:'全选',width:120},
		        {field:'name',title:'业务事项名称',width:300},    
		        {field:'shareWith',title:'共享范围',width:300,
		        	formatter:function(value,row,index){
		        		if(value){
			        		var ds=value.replace(1,"所有人员").replace(2,"国家部委").replace(3,"市领导").replace(4,"委办局").replace(5,"委（局）内")
			        		.replace(6,"本部门专员").replace(7,"其他");
			        		return ds;
		        		}else{
		        			return "--";
		        		}
	            	}
		        },
		        {field:'status',title:'当前状态',width:150,
		        	formatter:function(value,row,index){
		        		if(value){
		        			var ds=value.replace(3,"未注册").replace(4,"注册中").replace(5,"已注册").replace(6,"注销中").replace(7,"已注销");
			        		return ds;
		        		}else{
		        			return "--";
		        		}
	            	}
		        },
		        {field:'operator',title:'操作',width:220,align:"center",
		        	formatter:function(value,row,index){
		        			var a = '<a href="/admin/business/action.do?type=view&id='+row.id+'">查看</a> ';
		        			var b = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
		        			var s = '<a href="/admin/business/action.do?type=update&id='+row.id+'">编辑</a> ';
		                    var b = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
		                    var c = '<a href="#" onclick="javascript:delBizById('+row.id+');">删除</a>';
		                    return a+b+s+b+c;
		                
		            }
		        }
		    ]],
		    onLoadSuccess:function(data){
		    	if (data.total == 0) {
	                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
	                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 4 })
	                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
	                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	            }
		    }
		}); 
	}
	
	$(document).ready(function(){
		getBizList();
	});
	
	//申请注册
	function applyRegister(){
		var checkedItems = $('#dg').datagrid('getChecked');
		var names = "";
		$.each(checkedItems, function(index, item){
			if(item.status=="3"){
				names=names+item.id+",";
			}
		});  
		if(names!=''){
			$.post("/admin/business/batchUpdateBiz.do", 
				{ 
					opType: 4, params: names 
				},
			   	function(data){
			     	if(data="success"){
			     		alert("注册申请已提交，请等待审批！");
			     		$('#dg').datagrid('reload');
			     	}
			   	}
			);
		}else{
			alert("请选择需要注册的数据！");
		}
	}
	
	//申请注销
	function applyCancel(){
		var checkedItems = $('#dg').datagrid('getChecked');
		var names = "";
		$.each(checkedItems, function(index, item){
			if(item.status=="5"){
				names=names+item.id+",";
			}
		});  
		if(names!=''){
			$.post("/admin/business/batchUpdateBizCancel.do", 
				{ 
					opType: 6, params: names 
				},
			   	function(data){
			     	if(data="success"){
			     		alert("注销申请已提交，请等待审批！");
			     		$('#dg').datagrid('reload');
			     	}
			   	}
			);
		}else{
			alert("请选择需要注销的数据！");
		}
	}

</script>
<%};%>

<%
var htmlPart = {
%>
<!-- start:content -->
<div class="content">
   <h3 class="h3tit mt30">业务信息维护</h3>
	<div class="form-list top-search">
    	<ul class="li-fl">
        	<li>
            	<label>业务事项名称</label>
                <input class="form-control inp noradius" type="text" id="bizName" name="name" placeholder="" value="">
            </li>
        	<li class="w-state">
            	<label>当前状态</label>
                <select class="form-control sels wd148 noradius" id="bizStatus" name="status">
                  <option value="">请选择</option>
                  <option value="3">未注册</option>
	          	  <option value="4">注册中</option>
	              <option value="5">已注册</option>
	          	  <option value="6">注销中</option>
	          	  <option value="7">已注销</option>
                </select>
                
            </li>
        	<li>
        		<button class="btns mlt30" type="button" onclick="getBizList()">检索</button>
                <input class="nobg mlt10" type="reset" value="清空" onclick="resetBiz()">
            </li>
        </ul>
    </div>
    <div class="search-sel">
    	<a class="btns-gray" href="/admin/business/action.do?type=create">新建业务</a>
    	<a class="btns-gray" href="javascript:applyRegister();">申请注册</a>
    	<a class="btns-gray" href="javascript:applyCancel();">申请注销</a> 
    </div>           
    <!-- datagrid -->
    <table id="dg"> </table>
</div>
<!-- end:content -->
<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%> 