<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>

<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
$(function(){
	$('#_search').on('click',function(){
		var _v = $('#_ipt').val();
		if($.trim(_v) ==='')
			return;
		$('#searchForm').submit();
	});
	
   	var tab = $('#srhTab').tabs('getSelected');
   	var index = $('#srhTab').tabs('getTabIndex',tab);
	$("#srhType").val(index+1);
	
	$('#srhTab').tabs({    
	    border:false,   
	    plain:true,
	    onSelect:function(title,index){ 
	    	$("#srhType").val(index+1);
	    }    
	});  

});
</script>

<%};%>

<%
var htmlPart = {
%>
<div class="container" style="width: 960px;margin: 0 auto;">
    <div class="row">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-12">
	        <form action="search" id="searchForm" method="post">
	        <div style="width: 940px;">
	        	<div style="background-color: gray;float: left;width: 260px;height: 500px;margin-top: 100px;">
	        		<div class="zTreeDemoBackground left">
						<ul id="treeDemo" class="ztree"></ul>
					</div>
	        	</div>
	            <div class="" style="margin-top: 100px;height: 100%;float: right;width: 650px;">
	                <div style="margin-bottom: 10px;">
	                    <h4 class="panel-title" style="text-align: center;"><span class="text-bold">九次方</span>·政府资源目录检索</h4>
	                </div>
	                <input id="srhType" type="hidden" name="search_type" value="">
	                <div class="panel-body" style="padding-bottom: 0px;width:610px;border-width: 0px; ">
		                <div id="srhTab" class="easyui-tabs" data-options="tabWidth:100">
							<div title="机构职能" style="padding:0px" id="1"></div>
							<div title="岗位" style="padding:0px" id="2"></div>
							<div title="业务" style="padding:0px" id="3"></div>
							<div title="资源" style="padding:0px" id="4"></div>
							<div title="主题" style="padding:0px" id="5"></div>
						</div>
		            </div>
	                <div class="panel-body" style="padding-bottom: 0px;">
	                    <div>
	                        <div class="input-group">
	                            <input type="text" id="_ipt" name="search_value" class="form-control">
	                            <a href="javascript:void(0);" class="input-group-btn">
	                                <button type="button" class="btn btn-green" id="_search">搜索 </button>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
            </form>
            
        </div>
        <!-- <div class="col-sm-1"></div> -->
    </div>
</div>

<%};
include("/layouts/front.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>