<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">

</style>
<%};%>

<%
var jsPart = {
%>

<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/resources/assets/js/etree-search.js"></script>
<script type="text/javascript">
$(function(){
	//加载树
	$('#etree').tree({
        url:'/build/eTreeNode',
        animate:false,
        onClick: function(node){
     		$("#officeId").val(node.id);// 在用户点击的时候提示
     		search();
     	}
    });
	
});

//搜索树
function srhTree(obj){
	$("#etree").tree("search", obj.value);
}

function ofcDat(val){
	$.getJSON("/search",
		{ 
			search_value: val, 
			search_type: 1, 
			officeId:$("#officeId").val() 
		}, 
		function(data){
			if(data!=""){
			  	$.each(data, function(i,item){
			  		$("#ofcs").html('<div class="section"><h4><a href="javascript:void(0);">'+item.name+'</a></h4>'+item.duty+'</div>');
			  	});
			}else{
				$("#ofcs").html('<div class="section">没找到您要搜索的信息</div>');
			}
		}
	);
}

function jobDg(name){
	$('#jobDg').datagrid({
	    url:'/srh/jobDg.do', 
	    fitColumns:true,
	    queryParams: {
			name: name,
			officeId:$("#officeId").val(),
			search_type: 2,
			status: "2"
		},
	    pagination:true,
	    method:"get",
	    columns:[[    
			{field:'id',title:'id',width:0,hidden:true}, 
	        {field:'name',title:'岗位名称/职位',width:100,align:"center"},    
	        {field:'duty',title:'岗位职责',width:100,align:"center"},
	        {field:'type',title:'岗位属性',width:150,align:"center",
	        	formatter: function(value,row,index){
					if(value){
		        		var ds=value.replace(0,"未知").replace(1,"公务员编制").replace(2,"事业编制").replace(3,"参公编制").replace(4,"工勤编制").replace(5,"其他");
		        		return ds;
	        		}else{
	        			return "未知";
	        		}
				} 	
	        }
	    ]],
	    onLoadSuccess:function(data){
	    	if (data.total == 0) {
                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 3 })
                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
            }
	    }
	}); 
}

function bizDg(name){
	$('#bizDg').datagrid({
	    url:'/srh/bizDg.do', 
	    queryParams: {
			name: name,
			officeId:$("#officeId").val(),
			search_type: 3,
			status: "2"
		},
	    pagination:true,
	    method:"get",
	    fitColumns:true,
	    columns:[[    
			{field:'id',hidden:true},
	        {field:'name',title:'业务事项名称',width:100},    
	        {field:'shareWith',title:'共享范围',width:100,
	        	formatter:function(value,row,index){
	        		if(value){
		        		var ds=value.replace(1,"所有人员").replace(2,"国家部委").replace(3,"市领导").replace(4,"委办局").replace(5,"委（局）内")
		        		.replace(6,"本部门专员").replace(7,"其他");
		        		return ds;
	        		}
            	}
	        }
	    ]],
	    onLoadSuccess:function(data){
	    	if (data.total == 0) {
                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 2 })
                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	    	}
	    }
	}); 
}

function rscDg(name){
	$('#rscDg').datagrid({
	    url:'/srh/rscDg.do', 
	    queryParams: {
			name: name,
			officeId:$("#officeId").val(),
			search_type: 4,
			status: 2
		},
	    pagination:true,
	    method:"get",
	    fitColumns:true,
	    columns:[[    
			{field:'id',title:'id',hidden:true}, 
	        {field:'name',title:'资源名称',width:100},    
	        {field:'shareRegion',title:'共享范围',width:100,
	        	formatter:function(value,row,index){
	        		if(value){
		        		var ds=value.replace(1,"国家部委").replace(2,"市领导").replace(3,"委办局").replace(4,"委（局）内")
		        		.replace(5,"本部门专员").replace(6,"其他");
		        		return ds;
	        		}
            	}
	        }
	    ]],
	    onLoadSuccess:function(data){
	    	if (data.total == 0) {
                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 2 })
                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
	    	}
	    }
	}); 
}

function subDg(name){
	//加载主题数据
	$('#subDg').datagrid({
	    url:'/srh/subDg.do', 
	    fitColumns:true,
	    queryParams: {
			name:name,
			search_type: 1
		},
		pagination:true,
	    method:"get",
	    columns:[[    
			{field:'id',title:'id',hidden:true},
	        {field:'name',title:'主题名称',width:200},
	        {field:'descr',title:'主题描述',width:200}
	    ]],
	    onLoadSuccess:function(data){
	    	if (data.total == 0) {
                //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
                $(this).datagrid('appendRow', { name: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'name', colspan: 2 })
                //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
                $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
            }
	    }
	}); 
}
var idx=0;
function search(){
	$("#srhHeader").attr("style","display:none;");
	$("#srhBody").attr("style","display:block;padding:10px 0px;width: 650px;height:620px;");
  	switch(idx){
		case 0:ofcDat($('#_ipt').val()); idx=0; break;
		case 1:jobDg($('#_ipt').val()); idx=1;break;
		case 2:bizDg($('#_ipt').val()); idx=2;break;
		case 3:rscDg($('#_ipt').val()); idx=3;break;
		case 4:subDg($('#_ipt').val()); idx=4;break;	
	}
	$('#srhTabsb').tabs({    
	    border:true,   
	    plain:true,
	    selected:idx,
	    onSelect:function(title,index){
	    	switch(index){
				case 0:ofcDat($('#_ipt').val()); idx=0; break;
				case 1:jobDg($('#_ipt').val()); idx=1;break;
				case 2:bizDg($('#_ipt').val()); idx=2;break;
				case 3:rscDg($('#_ipt').val()); idx=3;break;
				case 4:subDg($('#_ipt').val()); idx=4;break;	
			}
	    }    
	}); 
	
}

$(function(){
	//设置按Enter键进行搜索
	window.document.onkeydown = keySrh;
	function keySrh(evt){
		evt = (evt) ? evt : window.event
		if (evt.keyCode) {
			if (evt.keyCode==13){  //回车键的键值为13,即Enter键
				 search();
			}
		}
	}
	
}); 



</script>

<%};%>

<%
var htmlPart = {
%>
<div class="container" style="width: 960px;margin: 0 auto;">
    <div class="row">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-sm-12">
	        <!-- <form action="search" id="searchForm" method="post"> -->
	        <div style="width: 940px;">
	        	<div style="background-color: #eaf2ff;float: left;width: 260px;height: 600px;margin-top: 100px;">
	        		<input type="text" oninput="srhTree(this)" placeholder="输入检索内容" style="width:100%;position: static;">
	        		<div  style="overflow:scroll;width: 100%;height: 100%">
						<ul id="etree"></ul>
					</div>
	        	</div>
	            <div class="" style="margin-top: 100px;height: 100%;float: right;width: 650px;">
	                <div id="srhHeader">
		                <div style="margin-bottom: 10px;">
		                    <h4 class="panel-title" style="text-align: center;"><span class="text-bold">九次方</span>·政府资源目录检索</h4>
		                </div>
		                <input id="officeId" type="hidden" name="officeId" value="">
		                <input id="srhType" type="hidden" name="search_type" value="">
		                <div class="panel-body" style="padding-bottom: 0px;width:610px;border-width: 0px; ">
			                <div id="srhTabst" class="easyui-tabs" data-options="tabWidth:100">
								<div title="机构职能" style="padding:0px" id="1"></div>
								<div title="岗位" style="padding:0px" id="2"></div>
								<div title="业务" style="padding:0px" id="3"></div>
								<div title="资源" style="padding:0px" id="4"></div>
								<div title="主题" style="padding:0px" id="5"></div>
							</div>
			            </div>
		            </div>
	                <div class="panel-body" style="padding-bottom: 0px;">
	                    <div>
	                        <div class="input-group">
	                            <input type="text" id="_ipt" name="search_value" class="form-control" placeholder="请输入检索内容" style="border-top-color: #95B8E7;width: 593px;">
	                            <a href="javascript:search();" class="input-group-btn">
	                                <button type="button" class="btn btn-green" id="_search">搜索 </button>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	                <div id="srhBody" class="tab-content container " style="display: none; ">
						<div id="srhTabsb" class="easyui-tabs" data-options="tabWidth:112" style="width:650px;height:600px;">
							<div title="机构职能" style="padding:10px"><div id="ofcs"></div></div>
							<div title="岗位" style="padding:10px"><table id="jobDg"> </table></div>
							<div title="业务" style="padding:10px"><table id="bizDg"> </table></div>
							<div title="资源" style="padding:10px"><table id="rscDg"> </table></div>
							<div title="主题" style="padding:10px"><table id="subDg"> </table></div>
						</div>
					</div>
	            </div>
	        </div>
            <!-- </form> -->
        </div>
        <!-- <div class="col-sm-1"></div> -->
    </div>
</div>

<%};
include("/layouts/front.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>