<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/main.css">
<style type="text/css">

</style>

<%};%>

<%
var jsPart = {
%>
<script type="text/javascript">
$(function(){
	$('#_search').on('click',function(){
		var _v = $('#_ipt').val();
		if($.trim(_v) ==='')
			return;
		$('#searchForm').submit();
	});
});
</script>
<%};%>
<%
var htmlPart = {
%>
<div class="content content-wrap1">
 <form action="search" id="searchForm" method="post">
  <div class="total-top-search ">
    <input class="form-control inp noradius" type="text" name="search_value" placeholder="请输入检索内容" value="${searchValue}" id="_ipt">
    <button type="button" id="_search"><i class="glyphicon glyphicon-search fl"></i>搜索</button>
  </div>
  <div class="container-fluid tab-nav tc clearfix">
    <ul class="nav-list">
      <li><a href="#"><input type="radio" name="search_type" value="1"  ${searchType==1 ? "checked=''checked" : ""}/>机构职能</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="2"  ${searchType==2 ? "checked=''checked" : ""}/>岗位</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="3"  ${searchType==3 ? "checked=''checked" : ""}/>业务</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="4"  ${searchType==4 ? "checked=''checked" : ""}/>资源</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="5"  ${searchType==5 ? "checked=''checked" : ""}/>主题</a></li>
    </ul>
  </div>
  </form>
  <div class="tab-content container ">
    <div class="" id="tab-content01">
    <%
    	for(office in officeList){
    %>
      <div class="section">
        <h4><a href="javascript:location.reload();">${office.name}</a></h4>
        ${office.duty}
<!--         <p class="foot-text"><span class="orange">机构职能</span><span>吴中区财政局</span><span>2015-12-02</span></p> -->
      </div>
    	
    <%}%>
    </div>
    <div class="" id="tab-content02"></div>
  </div>
</div>
<%};
include("/layouts/front.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>