<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/main.css">
<style type="text/css">

</style>

<%};%>

<%
var jsPart = {
%>
<script type="text/javascript">

</script>
<%};%>
<%
var htmlPart = {
%>
<div class="content content-wrap1">
  <div class="total-top-search ">
    <input class="form-control inp noradius" type="text" placeholder="请输入检索内容">
    <button type="button"><i class="glyphicon glyphicon-search fl"></i>搜索</button>
  </div>
  <div class="container-fluid tab-nav tc clearfix">
    <ul class="nav-list">
      <li><a href="#"><input type="radio" name="search_type" value="1" />机构职能</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="2" />岗位</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="3" />业务</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="4" />资源</a></li>
      <li><a href="#"><input type="radio" name="search_type" value="5" />主题</a></li>
    </ul>
  </div>
  <div class="tab-content container ">
    <div class="" id="tab-content01">
      <div class="section">
        <h4><a href="javascript:location.reload();">苏州市吴中区财政局</a></h4>
        <p>贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划</p>
        <p class="foot-text"><span class="orange">机构职能</span><span>吴中区财政局</span><span>2015-12-02</span></p>
      </div>
      <div class="section">
        <h4><a href="javascript:location.reload();">苏州市吴中区财政局</a></h4>
        <p>贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划</p>
        <p class="foot-text"><span class="orange">机构职能</span><span>吴中区财政局</span><span>2015-12-02</span></p>
      </div>
      <div class="section">
        <h4><a href="javascript:location.reload();">苏州市吴中区财政局</a></h4>
        <p>贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划</p>
        <p class="foot-text"><span class="orange">机构职能</span><span>吴中区财政局</span><span>2015-12-02</span></p>
      </div>
      <div class="section">
        <h4><a href="javascript:location.reload();">苏州市吴中区财政局</a></h4>
        <p>贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划</p>
        <p class="foot-text"><span class="orange">机构职能</span><span>吴中区财政局</span><span>2015-12-02</span></p>
      </div>
      <div class="section">
        <h4><a href="javascript:location.reload();">苏州市吴中区财政局</a></h4>
        <p>贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划贯彻执行国家、省和国民经济和社会发展的战略方针、政策；组织编制全市国民经济和社会发展的中长期规划和年度计划</p>
        <p class="foot-text"><span class="orange">机构职能</span><span>吴中区财政局</span><span>2015-12-02</span></p>
      </div>
      <div class="page-box">
        <ul class="pagination pagination1">
          <li><a class="arrows-left" href="javascript:;" ></a></li>
          <li class="active"><a>1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">10</a></li>
          <li><a class="arrows-right" href="javascript:;"></a></li>
        </ul>
      </div>
    </div>
    <div class="" id="tab-content02"></div>
  </div>
</div>
<%};
include("/layouts/front.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>