<%
var cssPart = {
%>
<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript">


</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
<div class="main-container inner">
    <!-- start: PAGE -->
    <div class="main-content">

        <!-- end: SPANEL CONFIGURATION MODAL FORM -->
        <div class="container">
            <div class="row" style="height: 41px;color:#dddddd;background-color: #ffffff;line-height: 41px;">
                <div class="col-sm-6">
                    <ol class="breadcrumb" style="padding: 0px;margin: 0px;">
                        <li class="active">
                            当前位置:
                        </li>
                        <li class="active">
                            代办事宜
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row" style="">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="padding-left: 0px;">
                        <div class="panel panel-white">
                            <div class="panel-heading" style="background: #50b90b;color: #ffffff">
                                <h4 class="panel-title">注册申请审批</h4>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0px 7px;">
                        <div class="panel panel-white">
                            <div class="panel-heading" style="background: #e4a900;color: #ffffff">
                                <h4 class="panel-title">信息授权审批</h4>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding-right: 0px;">
                        <div class="panel panel-white">
                            <div class="panel-heading" style="background: #2b86d9;color: #ffffff">
                                <h4 class="panel-title">使用申请审批</h4>
                            </div>
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
                </div>

            <!-- start: AJAX CONTENT -->
            <div id="ajax-content" class="animated">
                <!-- HERE WILL BE LOADED AN AJAX CONTENT -->

            </div>
            <!-- end: AJAX CONTENT-->
        </div>
        <div class="subviews">
            <div class="subviews-container">
            </div>
        </div>
    </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%>