
<div class="row">
 <div class="col-sm-8"></div>
 <div class="col-sm-4">
  <div class="panel panel-red panel-calendar">
   <div class="panel-heading border-light">
    <h4 class="panel-title">Appointments</h4>
    <div class="panel-tools">
     <div class="dropdown">
      <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-white">
       <i class="fa fa-cog"></i>
      </a>
      <ul class="dropdown-menu dropdown-light pull-right" role="menu">
       <li>
        <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
       </li>
       <li>
        <a class="panel-refresh" href="#">
         <i class="fa fa-refresh"></i> <span>Refresh</span>
        </a>
       </li>
       <li>
        <a class="panel-config" href="#panel-config" data-toggle="modal">
         <i class="fa fa-wrench"></i> <span>Configurations</span>
        </a>
       </li>
       <li>
        <a class="panel-expand" href="#">
         <i class="fa fa-expand"></i> <span>Fullscreen</span>
        </a>
       </li>
      </ul>
     </div>
     <a class="btn btn-xs btn-link panel-close" href="#">
      <i class="fa fa-times"></i>
     </a>
    </div>
   </div>
   <div class="panel-body">
    <div class="height-300">
     <div class="row">
      <div class="col-xs-6">
       <div class="actual-date">
        <span class="actual-day">24</span>
        <span class="actual-month">December</span>
       </div>
      </div>
      <div class="col-xs-6">
       <div class="row">
        <div class="col-xs-12">
         <div class="clock-wrapper">
          <div class="clock">
           <div class="circle">
            <div class="face">
             <div id="hour" style="transform: rotate(131.525deg);"></div>
             <div id="minute" style="transform: rotate(138.3deg);"></div>
             <div id="second" style="transform: rotate(18deg);"></div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="col-xs-12">
         <div class="weather text-light">
          <i class="wi-day-sunny"></i>
          25°
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-xs-12">
       <div class="row">
        <div class="appointments border-top border-bottom border-light space15">
         <a class="btn btn-sm owl-prev text-light">
          <i class="fa fa-chevron-left"></i>
         </a>
         <div class="e-slider owl-carousel owl-theme" data-plugin-options="{&quot;transitionStyle&quot;: &quot;goDown&quot;, &quot;pagination&quot;: false}" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1914px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px); transform-origin: 159.5px 50% 0px; perspective-origin: 159.5px 50%;"><div class="owl-item" style="width: 319px;"><div class="item">
           <div class="inline-block padding-10 border-right border-light">
            <span class="bold-text text-small"><i class="fa fa-clock-o"></i> 17:00</span>
            <span class="text-light text-extra-small">1 hour</span>
           </div>
           <div class="inline-block padding-10">
            <span class="bold-text text-small">NETWORKING</span>
            <span class="text-light text-small">Out to design conference</span>
           </div>
          </div></div><div class="owl-item" style="width: 319px;"><div class="item">
           <div class="inline-block padding-10 border-right border-light">
            <span class="bold-text text-small"><i class="fa fa-clock-o"></i> 18:30</span>
            <span class="text-light text-extra-small">30 mins</span>
           </div>
           <div class="inline-block padding-10">
            <span class="bold-text text-small">BOOTSTRAP SEMINAR</span>
            <span class="text-light text-small">Problem Solving</span>
           </div>
          </div></div><div class="owl-item" style="width: 319px;"><div class="item">
           <div class="inline-block padding-10 border-right border-light">
            <span class="bold-text text-small"><i class="fa fa-clock-o"></i> 20:00</span>
            <span class="text-light text-extra-small">2 hour</span>
           </div>
           <div class="inline-block padding-10">
            <span class="bold-text text-small">Lunch with Nicole</span>
            <span class="text-light text-small">Next on Tuesday</span>
           </div>
          </div></div></div></div>


         </div>
         <a class="btn btn-sm owl-next text-light"><i class="fa fa-chevron-right"></i> </a>
        </div>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-xs-12">
       <div class="pull-right">
        <a href="#newEvent" class="btn btn-sm btn-transparent-white new-event"><i class="fa fa-plus"></i> New Event </a>
        <a href="#showCalendar" class="btn btn-sm btn-transparent-white show-calendar"><i class="fa fa-calendar-o"></i> Calendar </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>