<!-- start: TOPBAR -->
<header class="topbar navbar navbar-inverse navbar-fixed-top inner">
    <!-- start: TOPBAR CONTAINER -->
    <div class="container header" style="height: 106px;width: 1030px !important;">
        <div class="navbar-header">
            <a class="sb-toggle-left hidden-md hidden-lg" href="#main-navbar">
                <i class="fa fa-bars"></i>
            </a>
            <!-- start: LOGO -->
            <a class="navbar-brand" href="/">
                <img src="/resources/images/logo.png" alt="Shit"/>
            </a>
            <!-- end: LOGO -->
        </div>
        <div class="topbar-tools">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav">
                <!-- start: USER DROPDOWN -->
                <li class="right-menu-toggle" >
                    <a style="border: 0px !important;">${session.userName}，欢迎您！</a>
                </li>
                <!-- end: USER DROPDOWN -->
                <li class="right-menu-toggle">
                    <a href="/admin/logout" class="" style="border: 0px !important;">退出 </a>
                </li>
            </ul>
            <!-- end: TOP NAVIGATION MENU -->
        </div>
        <div id="horizontal-menu" class="navbar navbar-inverse hidden-sm hidden-xs inner" style="position:relative;height: 45px;top: 55px;left: 300px;">
            <!-- start: TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav topmenu">
                <%for(menu in session.menuTree){ %>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        ${menu.name}
                        <i class="icon-arrow"></i>
                    </a>
                    <%if(menu.children.~size > 0){%>
                    <ul class="dropdown-menu" >
                        <%for(secMenu in menu.children){ %>
                        <li>
                            <a href="${secMenu.href}"><span class="title">${secMenu.name} </span></a>
                        </li>
                        <%}%>
                    </ul>
                    <%}%>

                </li>
                <%}%>
            </ul>
        </div>
    </div>
    <!-- end: TOPBAR CONTAINER -->
</header>
<!-- end: TOPBAR -->