<%
var cssPart = {
%>
<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/resources/assets/jquery-easyui-1.4.4//demo/demo.css">
<style type="text/css">

</style>

<%};%>


<%
var jsPart = {
%>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/resources/assets/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript">
//根据id删除资源
function delRscById(id){
	$.get("/admin/job/delJobById.do", { id: id },
	    function(data){location.reload();
	    	if(data=="success"){
	    		alert("删除成功！");
	    		location.reload();
	    	}
	    }
	);   
}

function resetSrc(){
	$("#userName").val("");
	$('#beginDate').combo('setText','');
	$('#beginDate').combo('setValue','');
	$('#endDate').combo('setText','');
	$('#endDate').combo('setValue','');
	getRscList();
}

//查询
function getRscList(pageNumber,pageSize){
	if(pageNumber == null && pageSize == null){
		pageNumber = 1;
		pageSize = 10;
	}
	var userName=$.trim($("#userName").val());
	var beginDate = $('#beginDate').datetimebox('getValue');		         // 获取日期时间输入框的值
	var endDate = $('#endDate').datetimebox('getValue');
	$('#dg').datagrid({
	 url:'/admin/log/reloadList.do', 
	    fitColumns:true,
	    queryParams: {
	    	userName: userName,
	    	beginDate: beginDate,
	    	endDate : endDate
		},
	    pagination:true,
	    checkbox:true,
	    method:"get",
	    pageSize:pageSize,
	    pageNumber:pageNumber,
	    rownumbers:true,
	    columns:[[ 
			{field:'ck',title:'',width:0,checkbox:false},   
			{field:'id',title:'id',width:0,hidden:true}, 
	        {field:'userName',title:'用户名',width:150,align:"center"},    
	        {field:'logTitle',title:'模块',width:150,align:"center"},
	        {field:'logRemoteAddr',title:'IP',width:150,align:"center"},
	        {field:'logBeginDate',title:'操作时间',width:150,align:"center",
	        	formatter:function(value,row,index){ 
                    var unixTimestamp = new Date(value); 
                    return unixTimestamp.toLocaleString(); 
                    } 	
	        }
	    ]],
	    onLoadSuccess:function(data){
	    	if (data.total == 0) {
             //添加一个新数据行，第一列的值为你需要的提示信息，然后将其他列合并到第一列来，注意修改colspan参数为你columns配置的总列数
             $(this).datagrid('appendRow', { ck: '<div style="text-align:center;color:red">没有相关记录！</div>' }).datagrid('mergeCells', { index: 0, field: 'ck', colspan: 6 })
             //隐藏分页导航条，这个需要熟悉datagrid的html结构，直接用jquery操作DOM对象，easyui datagrid没有提供相关方法隐藏导航条
             $(this).closest('div.datagrid-wrap').find('div.datagrid-pager').hide();
         }
	    }
	}); 
	//选择一页出现多少行时返回第一行
	var pager=$("#dg").datagrid("getPager");
	pager.pagination({
	    onSelectPage:function(pageNumber,pageSize){
	    	getRscList(pageNumber,pageSize);
	    },
	    onChangePageSize:function(pageSize){      
	    	getRscList(1,pageSize);
	    }
	});
}
$(document).ready(function(){
	getRscList();
});
//输入框回车事件
$('#userName').bind('keypress',function(event){
        if(event.keyCode == "13"){
        	getRscList();
        }
 });
 
</script>

<%};%>

<%
var htmlPart = {
%>
<!-- start: MAIN CONTAINER -->
 <div class="content">
	    <h3 class="h3tit mt30">使用日志</h3>
	 	<div class="form-list top-search">
	     	<ul class="li-fl">
	         	 <li>
	             	<label>用户名</label>
	                <input class="form-control inp wd260 " type="text" placeholder="" id="userName">
	             </li>
	         	 <li>
	           		<label>时间</label>
	           		<input class="easyui-datetimebox" editable="false" data-options="required:false" required style="width:200px" id="beginDate">
	             </li>
	             <li>
	             	<label>&nbsp;至</label>
	             	<input class="easyui-datetimebox" editable="false" data-options="required:false" required style="width:200px" id="endDate">                        
	             </li>
	         	<li>
	             	<button class="btns mlt30" type="button" onclick="getRscList()">检索</button>
	                 <input class="nobg mlt10" name="清空" type="reset" value="清空" onclick="resetSrc()">                                       
	             </li>
	         </ul>
	     </div>
	      <table id="dg"> </table>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->

<%};
include("/layouts/admin.html",{jsSection:jsPart,htmlSection:htmlPart,cssSection:cssPart}){}
%> 